<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region7" size="large" ></ion-icon> 
    <ion-title class="title">BOHOL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r7.1.jpg">
      <ion-header class="luzon">BOHOL</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Bohol Island State University (BISU)</ion-label>
        <img height="45px" width="42x" src="/assets/boh1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/bohol1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Holy Name University (HNU)</ion-label>
          <img height="45px" width="42x" src="/assets/boh2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/bohol2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Bohol Northern Star College (BNSC)</ion-label>
            <img height="45px" width="42x" src="/assets/boh3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/bohol3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>

        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">BIT International College (BITIC)</ion-label>
              <img height="45px" width="42x" src="/assets/boh4.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/bohol4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>

                        <ion-button routerLink="/region7" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>



