<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/es11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Eastern Samar State University </ion-card-title>
      <ion-card-subtitle>ESSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/es11.jpg">
    <ion-card-content>
      Offers undergraduate and graduate programs in various fields.
      Has campuses in Borongan, Can-Avid, and Oras.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/eastern-s" fill="clear" shape="default" expand="full">BACK</ion-button>