<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bukidnon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/bk11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bukidnon State University</ion-card-title>
      <ion-card-subtitle>BukSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bk11.jpg">
    <ion-card-content>
      Established in 1971, offers various undergraduate and graduate programs in diverse fields, including agriculture, forestry, engineering, and education. Has campuses in Malaybalay City, Valencia City, and Maramag, Bukidnon. Renowned for its research and development programs in agriculture and related fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bukidnon" fill="clear" shape="default" expand="full">BACK</ion-button>