<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page53</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/olgc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Lady of Guadalupe Colleges - Mandaluyong</ion-card-title>
      <ion-card-subtitle>OLGC - M</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/olgc.jpg">
    <ion-card-content>
      An educational institution providing various academic programs with a commitment to holistic development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page47" fill="clear" shape="default" expand="full">BACK</ion-button>
