<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>southern leyte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Southern Leyte Institute of Technology</ion-card-title>
      <ion-card-subtitle>SLIT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sdn17.jpg">
    <ion-card-content>
      Established in 1999, offers undergraduate programs in various fields, including engineering, information technology, and criminology.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/southern-l" fill="outline" shape="round">BACK</ion-button>