<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region7" size="large" ></ion-icon> 
    <ion-title class="title">CEBU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r7.2.jpg">
      <ion-header class="luzon">CEBU</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">University of San Carlos (USC)</ion-label>
        <img height="45px" width="42x" src="/assets/ce1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/cebu1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">University of the Philippines Cebu (UP Cebu)</ion-label>
          <img height="45px" width="42x" src="/assets/ce2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/cebu2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Cebu Institute of Technology - University (CIT-U)</ion-label>
            <img height="45px" width="42x" src="/assets/ce3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/cebu3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">University of San Jose-Recoletos (USJ-R)</ion-label>
              <img height="45px" width="42x" src="/assets/ce4.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/cebu4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">University of Cebu (UC)</ion-label>
                <img height="45px" width="42x" src="/assets/cepayb.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/cebu5">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>
 
            
                <ion-item>
                  <ion-label class="uname">Cebu Normal University (CNU)</ion-label>
                  <img height="45px" width="42x" src="/assets/ce6.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/cebu6">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>
 
              
                  <ion-item>
                    <ion-label class="uname">Southwestern University (SWU)</ion-label>
                    <img height="45px" width="42x" src="/assets/ce7.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/cebu7">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-button routerLink="/region7" fill="outline" shape="round" expand="full">BACK</ion-button>
        
  
</ion-content>



