<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>antique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ant1.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Antique</ion-card-title>
      <ion-card-subtitle>UA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ant1.jpg">
    <ion-card-content>
      The University of Antique is a public educational institution that provides a variety of undergraduate and graduate programs. It focuses on delivering
      quality education and contributing to the development of Antique and the surrounding areas.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/antique" fill="clear" shape="default" expand="full">BACK</ion-button>
