<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zamboang del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/zdn14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Zamboanga del Sur Maritime Institute</ion-card-title>
      <ion-card-subtitle>ZSMI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/zdn14.jpg">
    <ion-card-content>
      Established in 1997, offering maritime education & training programs. Located in Zamboanga City, Zamboanga del Sur, provides graduates with the skills & qualifications needed for careers in the maritime industry.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/zamboanga-delsur" fill="clear" shape="default" expand="full">BACK</ion-button>