<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agusan del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ads11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agusan del Sur State College of Agriculture and Technology</ion-card-title>
      <ion-card-subtitle>ASSCAT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ads11.jpg">
    <ion-card-content>
      Established in 1910, offering undergraduate and graduate programs in various fields, including agriculture, fisheries, forestry, engineering, and education. Located in Prosperidad, Agusan del Sur, recognized for its research and development programs in agriculture and natural resources.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/agusan-delsur" fill="clear" shape="default" expand="full">BACK</ion-button>