<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camarines norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cnpiptin.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mercedes School of Fisheries</ion-card-title>
      <ion-card-subtitle>MSF</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cnpiptin.jpg">
    <ion-card-content>
      An institution focused on fisheries education in the town of Mercedes.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/camarines-n" fill="clear" shape="default" expand="full">BACK</ion-button>
