<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nueva-e</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neb8.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nueva Ecija Colleges (NEC) - Cabanatuan City</ion-card-title>
      <ion-card-subtitle>NEC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neb8.jpg">
    <ion-card-content>
      NEC in Cabanatuan City provides various academic programs, contributing to education in the local community.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/nueva-e" fill="clear" shape="default" expand="full">BACK</ion-button>
