<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tarlac</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/tlc13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>College of the Holy Spirit of Tarlac - Tarlac City</ion-card-title>
      <ion-card-subtitle>CHST</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/tlc13.jpg">
    <ion-card-content>
      CHST is an educational institution in Tarlac City, providing various academic programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/tarlac" fill="clear" shape="default" expand="full">BACK</ion-button>
