<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>southern leyte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Eastern Visayas State University</ion-card-title>
      <ion-card-subtitle>EVSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sdn12.jpg">
    <ion-card-content>
      Southern Leyte Campus: Provides access to undergraduate and graduate programs in various fields, including education, agriculture, and engineering.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/southern-l" fill="outline" shape="round">BACK</ion-button>