<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/es14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>STI College Borongan</ion-card-title>
      <ion-card-subtitle>STI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/es14.jpg">
    <ion-card-content>
      Offers undergraduate programs in various fields.
      Located in Borongan, Eastern Samar.
      Focuses on developing skills for in-demand careers.
      
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/eastern-s" fill="clear" shape="default" expand="full">BACK</ion-button>