<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ds16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Davao Institute of Technology</ion-card-title>
      <ion-card-subtitle>DIT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ds16.jpg">
    <ion-card-content>
      Established in 1965, offering undergraduate programs in various fields, including engineering, architecture, and criminology. Located in Davao City, focusing on developing technical and professional skills.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/davao-delsur" fill="clear" shape="default" expand="full">BACK</ion-button>