<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marinduque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/marin11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Marinduque State College </ion-card-title>
      <ion-card-subtitle>MSC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/marin11.jpg">
    <ion-card-content>
      A state college that may offer various academic programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/marinduque" fill="clear" shape="default" expand="full">BACK</ion-button>
