<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>misamis oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>AMA Computer College Cagayan de Oro</ion-card-title>
      <ion-card-subtitle>AMA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Offers undergraduate programs in information technology, business administration, and hospitality management, focusing on developing skills for the current job market.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/misamis-oriental" fill="outline" shape="round">BACK</ion-button>