<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Northern Philippines (UNP) - Rosario</ion-card-title>
      <ion-card-subtitle>ISCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/unp.jpg">
    <ion-card-content>
      Located in Rosario, Ilocos Sur, UNP offers a range of academic programs in various disciplines. It is known for its commitment to providing quality education and contributing to regional development.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/la-u" fill="outline" shape="round">BACK</ion-button>
