<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>paranaque1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mseuf.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Manuel S. Enverga University Foundation - Parañaque</ion-card-title>
      <ion-card-subtitle>MSEUF - P</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mseuf.jpg">
    <ion-card-content>
      A private university in Parañaque offering a variety of undergraduate and graduate programs with a commitment to academic excellence.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/paranaque" fill="clear" shape="default" expand="full">BACK</ion-button>
