<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region7" size="large" ></ion-icon> 
    <ion-title class="title">SIQUIJOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r7.4.jpg">
      <ion-header class="luzon">SIQUIJOR</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Siquijor State College (SSC)</ion-label>
        <img height="45px" width="42x" src="/assets/sq1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/siquirjor1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Siquijor Provincial Hospital School of Health Sciences</ion-label>
          <img height="45px" width="42x" src="/assets/sq2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/siquirjor2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
  
                        <ion-button routerLink="/region7" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>



