<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/dor11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Davao Oriental State University</ion-card-title>
      <ion-card-subtitle>DOrSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/dor11.jpg">
    <ion-card-content>
      Established in 1978, offering undergraduate and graduate programs in various fields, including agriculture, fisheries, forestry, education, and engineering. Located in Mati City, Davao Oriental, committed to providing quality education at an affordable cost.

    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/davao-oriental" fill="clear" shape="default" expand="full">BACK</ion-button>