<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Eastern Davao Oriental Colleges</ion-card-title>
      <ion-card-subtitle>EDOC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1997, offering undergraduate programs in various fields, including education, liberal arts, sciences, and business administration. Located in Governor Generoso, Davao Oriental, providing a strong foundation for students pursuing careers in various fields.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/davao-oriental" fill="outline" shape="round">BACK</ion-button>