<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>leyte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/le14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Eastern Visayas State University </ion-card-title>
      <ion-card-subtitle>EVSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/le14.jpg">
    <ion-card-content>
      Offers undergraduate and graduate programs in various fields, including medicine, education, engineering, and information technology. Recognized for its commitment to community service and development.

    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/leyte" fill="clear" shape="default" expand="full">BACK</ion-button>