<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region6" size="large" ></ion-icon> 
    <ion-title class="title">ILOILO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r6.5.jpg">
      <ion-header class="luzon">ILOILO</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">University of the Philippines Visayas (UPV)</ion-label>
        <img height="45px" width="42x" src="/assets/ilo1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/iloilo1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Central Philippine University (CPU)</ion-label>
          <img height="45px" width="42x" src="/assets/ilo2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/iloilo2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Iloilo Science and Technology University (ISAT-U)</ion-label>
            <img height="45px" width="42x" src="/assets/ilo3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/iloilo3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">West Visayas State University (WVSU)</ion-label>
              <img height="45px" width="42x" src="/assets/ilo4.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/iloilo4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">John B. Lacson Foundation Maritime University (JBLFMU)</ion-label>
                <img height="45px" width="42x" src="/assets/ilo5.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/iloilo5">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>
 
            
                <ion-item>
                  <ion-label class="uname">University of San Agustin (USA)</ion-label>
                  <img height="45px" width="42x" src="/assets/ilo6.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/iloilo6">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>
 
              
                  <ion-item>
                    <ion-label class="uname">St. Paul University Iloilo (SPUI)</ion-label>
                    <img height="45px" width="42x" src="/assets/ilo7.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/iloilo7">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>
 
                
                    <ion-item>
                      <ion-label class="uname">Iloilo State College of Fisheries (ISCOF)</ion-label>
                      <img height="45px" width="42x" src="/assets/ilo8.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/iloilo8">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>
 
                  
                      <ion-item>
                        <ion-label class="uname">Northern Iloilo Polytechnic State College (NIPSC)</ion-label>
                        <img height="45px" width="42x" src="/assets/ilo9.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/iloilo9">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>
 
                    
                        <ion-item>
                          <ion-label class="uname">University of the Philippines Visayas Tacloban College (UPVTC)</ion-label>
                          <img height="45px" width="42x" src="/assets/ilo10.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/iloilo10">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>
  
  
                        <ion-button routerLink="/region6" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>



