<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cdb.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio de Dagupan - Dagupan City</ion-card-title>
      <ion-card-subtitle>CdD</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cdb.jpg">
    <ion-card-content>
      Colegio de Dagupan is a higher education institution in Dagupan City, known for its commitment to providing quality education in various disciplines.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pangasinan" fill="clear" shape="default" expand="full">BACK</ion-button>
