<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>aklan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ak16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio Dela Purisima Concepcion (CDPC)</ion-card-title>
      <ion-card-subtitle>CDPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ak16.jpg">
    <ion-card-content>
      CDPC is a private college in Kalibo that offers various undergraduate programs. It is committed to providing quality education and contributing to the 
      intellectual and personal development of its students.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/aklan" fill="clear" shape="default" expand="full">BACK</ion-button>
