<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>northern samar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Catarman School of Arts and Trades</ion-card-title>
      <ion-card-subtitle>CSAT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Offers vocational courses in various fields, including automotive technology, maritime technology, and welding, preparing students for immediate employment.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/northern-s" fill="outline" shape="round">BACK</ion-button>