<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/dor12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Matias H. Aznar Memorial College of Medicine</ion-card-title>
      <ion-card-subtitle>MHAMCM</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/dor12.jpg">
    <ion-card-content>
      Established in 1979, offering undergraduate and graduate programs in medicine and allied health sciences. Located in Mati City, Davao Oriental, recognized for its strong medical education and training programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/davao-oriental" fill="clear" shape="default" expand="full">BACK</ion-button>