<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zamboanga del norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/zdn13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Zamboanga del Norte Institute of Technology</ion-card-title>
      <ion-card-subtitle>ZNIT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/zdn13.jpg">
    <ion-card-content>
      Established in 1978, offering undergraduate programs in engineering, architecture, criminology, and more. Located in Dapitan City, focusing on developing technical and professional skills.

    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/zamboanga-delnorte" fill="clear" shape="default" expand="full">BACK</ion-button>