<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>muntinlupa10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/la.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lyceum of Alabang</ion-card-title>
      <ion-card-subtitle>LA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/la.jpg">
    <ion-card-content>
      An educational institution offering a variety of academic programs, including business, tourism, and information technology.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/muntinlupa" fill="clear" shape="default" expand="full">BACK</ion-button>
