<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/slc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saint Louis College - San Fernando City</ion-card-title>
      <ion-card-subtitle>SLC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/slc.jpg">
    <ion-card-content>
      Saint Louis College in San Fernando City, La Union, is a private educational institution. It offers a wide range of academic programs and is known for its commitment to holistic education 
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/la-u" fill="clear" shape="default" expand="full">BACK</ion-button>
