<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>misamis occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Misamis School of Arts and Trades</ion-card-title>
      <ion-card-subtitle>MSAT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1910, offering vocational courses in various fields, including automotive technology, maritime technology, and welding, equipping students with the skills and knowledge needed for immediate employment.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/misamis-occidental" fill="outline" shape="round">BACK</ion-button>