<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camarines sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nag16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Partido State University</ion-card-title>
      <ion-card-subtitle>PSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nag16.jpg">
    <ion-card-content>
      A state university offering programs in various disciplines.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/camarines-s" fill="clear" shape="default" expand="full">BACK</ion-button>
