<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pampanga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/pam17.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asian College of Science and Technology - Angeles City</ion-card-title>
      <ion-card-subtitle>ACST</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/pam17.jpg">
    <ion-card-content>
      ACST in Angeles City may offer programs in science and technology, information technology, and business.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pampanga" fill="clear" shape="default" expand="full">BACK</ion-button>
