<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasig8</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/plc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Poveda Learning Centre (St. Pedro Poveda College)</ion-card-title>
      <ion-card-subtitle>PLC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/plc.jpg">
    <ion-card-content>
      A private Catholic school offering a holistic approach to education, from basic to higher education levels.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pasig" fill="clear" shape="default" expand="full">BACK</ion-button>
