<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page39</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/stim.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>STI College - Malabon</ion-card-title>
      <ion-card-subtitle>STI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/stim.jpg">
    <ion-card-content>
      A branch of STI College that provides education in information technology, business, and other fields with a focus on practical skills.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page36" fill="clear" shape="default" expand="full">BACK</ion-button>
