<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sarangani</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sr1.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sarangani State University</ion-card-title>
      <ion-card-subtitle>SaSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sr1.jpg">
    <ion-card-content>
      -Established in 1995
      -Offers undergraduate and graduate programs in various fields
      -Has campuses in Alabel, Maasim, and Malungon
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/sarangani" fill="clear" shape="default" expand="full">BACK</ion-button>