<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page38</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/dict.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datamex Institute of Computer Technology - Malabon Branch</ion-card-title>
      <ion-card-subtitle>DICT - MB</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/dict.jpg">
    <ion-card-content>
      Datamex Institute of Computer Technology - Malabon Branch
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page36" fill="clear" shape="default" expand="full">BACK</ion-button>
