<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/page3" size="large" ></ion-icon> 
    <ion-title class="title">LAS PIÑAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/ncr1.jpg">
      <ion-header class="luzon">LAS PIÑAS</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>

  
      <ion-item>
        <ion-label class="uname">University of Perpetual Help System DALTA</ion-label>
        <img height="45px" width="42x" src="/assets/uphsdlogo.jpg">
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" routerLink="/page16">VIEW</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    <ion-list inset>
      <ion-item-sliding>

    
        <ion-item>
          <ion-label class="uname">St. Dominic College of Asia</ion-label>
          <img height="45px" width="42x" src="/assets/dominiclogo.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/page17">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>

      
          <ion-item>
            <ion-label class="uname">Southville International School and Colleges</ion-label>
            <img height="45px" width="42x" src="/assets/sisclogo.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/page18">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>

        
            <ion-item>
              <ion-label class="uname">University of Perpetual Help System JONELTA</ion-label>
              <img height="45px" width="42x" src="/assets/uphsllogo.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/page19">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>

          
              <ion-item>
                <ion-label class="uname">Philippine Merchant Marine School</ion-label>
                <img height="45px" width="42x" src="/assets/pmmslogo.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/page20">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>

            
                <ion-item>
                  <ion-label class="uname">AMA Computer College - Las Piñas</ion-label>
                  <img height="45px" width="42x" src="/assets/amalogo.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/page21">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
  
              <ion-list inset>
                <ion-item-sliding>

                  <ion-item>
                    <ion-label class="uname">Centro Escolar Las Piñas College</ion-label>
                    <img height="45px" width="42x" src="/assets/lpclogo.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/page22">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>

                
                    <ion-item>
                      <ion-label class="uname">Pamantasan ng Lungsod ng Las Piñas</ion-label>
                      <img height="45px" width="42x" src="/assets/tiplogo.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/page23">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>

                  
                      <ion-item>
                        <ion-label class="uname">AMA School of Medicine - Las Piñas</ion-label>
                        <img height="45px" width="42x" src="/assets/amamlogo.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/page24">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>
  
  
                        <ion-button routerLink="/page3" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
