<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camarines norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cn11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Camarines Norte State College</ion-card-title>
      <ion-card-subtitle>CNSC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cn11.jpg">
    <ion-card-content>
      A state college offering various undergraduate and graduate programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/camarines-n" fill="clear" shape="default" expand="full">BACK</ion-button>
