<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/boh14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>BIT International College</ion-card-title>
      <ion-card-subtitle>BITIC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/boh14.jpg">
    <ion-card-content>
     
      BITIC is a private college in Tagbilaran City. It offers technical and vocational courses, preparing students for careers in information technology and related fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bohol" fill="clear" shape="default" expand="full">BACK</ion-button>