<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lnu.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lyceum Northwestern University - Rosario</ion-card-title>
      <ion-card-subtitle>LNU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lnu.jpg">
    <ion-card-content>
      Based in Dagupan City, Pangasinan (not Rosario, La Union), Lyceum Northwestern University is known for its academic excellence and offers programs in various fields, including health sciences, business, and engineering.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/la-u" fill="clear" shape="default" expand="full">BACK</ion-button>
