<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cv19.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cavite West Point College - Tanza</ion-card-title>
      <ion-card-subtitle>CWPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cv19.jpg">
    <ion-card-content>
      CWPC in Tanza, Cavite, may offer various academic programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cavite" fill="clear" shape="default" expand="full">BACK</ion-button>
