<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cebu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ce17.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Southwestern University</ion-card-title>
      <ion-card-subtitle>SWU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ce17.jpg">
    <ion-card-content>
      SWU is a private university in Cebu City that offers programs in various fields. It is known for its commitment to providing quality education and fostering a conducive learning environment.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cebu" fill="clear" shape="default" expand="full">BACK</ion-button>