<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mvcc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Metro Vigan Cooperative College - Vigan City</ion-card-title>
      <ion-card-subtitle>MVCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mvcc.jpg">
    <ion-card-content>
      MVCC is an educational institution in Vigan City, likely associated with cooperative principles and practices.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-s" fill="clear" shape="default" expand="full">BACK</ion-button>
