<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>north cotabato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cotpiptin.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ateneo de Davao University</ion-card-title>
      <ion-card-subtitle>AdDU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cotpiptin.jpg">
    <ion-card-content>
      A private Jesuit university in Davao City, committed to academic excellence, social responsibility, and the development of the whole person.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/n-cotabato" fill="clear" shape="default" expand="full">BACK</ion-button>