<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agusan del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agusan Colleges, Inc.</ion-card-title>
      <ion-card-subtitle>ACI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1955, offering undergraduate programs in various fields, including education, liberal arts, sciences, and business administration. Located in Bayugan City, Agusan del Sur, providing a strong foundation for diverse career paths.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/agusan-delsur" fill="outline" shape="round">BACK</ion-button>