<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>misamis oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Capitol University </ion-card-title>
      <ion-card-subtitle>CU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1946, offering undergraduate and graduate programs in various fields, including medicine, law, and education. Recognized for its strong academic programs and commitment to community service.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/misamis-oriental" fill="outline" shape="round">BACK</ion-button>