<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>negros occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neg15.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Negros Occidental - Recoletos </ion-card-title>
      <ion-card-subtitle>UNO-R </ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neg15.jpg">
    <ion-card-content>
      UNO-R is a private Catholic university in Bacolod City. It provides a range of undergraduate and graduate programs and is affiliated with the Order 
of Augustinian Recollects.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/negros-o" fill="clear" shape="default" expand="full">BACK</ion-button>