<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nueva vizcaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nvgchs.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nueva Vizcaya General Comprehensive High School - Bayombong</ion-card-title>
      <ion-card-subtitle>NVGCHS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nvgchs.jpg">
    <ion-card-content>
      NVGCHS is a comprehensive high school in Bayombong, Nueva Vizcaya, providing quality secondary education. 
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/nueva-v" fill="clear" shape="default" expand="full">BACK</ion-button>
