<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>northern samar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ns14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>AMA Computer College Catarman</ion-card-title>
      <ion-card-subtitle>AMA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ns14.jpg">
    <ion-card-content>
      Focuses on practical training and skills development for in-demand IT careers through its various undergraduate programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/northern-s" fill="clear" shape="default" expand="full">BACK</ion-button>