<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cebu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cepiptin.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Cebu</ion-card-title>
      <ion-card-subtitle>UC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cepiptin.jpg">
    <ion-card-content>
      UC is a private university in Cebu City offering a variety of academic programs. It aims to provide quality education and prepare students for their chosen careers.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cebu" fill="clear" shape="default" expand="full">BACK</ion-button>