<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nueva vizcaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ifsu.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ifugao State University - Aritao Campus</ion-card-title>
      <ion-card-subtitle>IFSU-Aritao</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ifsu.jpg">
    <ion-card-content>
      IFSU-Aritao is a campus of Ifugao State University located in Aritao, Nueva Vizcaya. 
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/nueva-v" fill="clear" shape="default" expand="full">BACK</ion-button>
