<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ascat.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asian College of Science and Technology - Dagupan City</ion-card-title>
      <ion-card-subtitle>ACSAT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ascat.jpg">
    <ion-card-content>
      ACSAT in Dagupan City offers programs in technology and other fields, focusing on practical skills development and industry relevance.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pangasinan" fill="clear" shape="default" expand="full">BACK</ion-button>
