<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cagayan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/uslt.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Saint Louis Tuguegarao - Tuguegarao City</ion-card-title>
      <ion-card-subtitle>USLT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/uslt.jpg">
    <ion-card-content>
      USLT is a leading educational institution in Tuguegarao City, known for its commitment to holistic education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cagayan" fill="clear" shape="default" expand="full">BACK</ion-button>
