<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="btn-img" src="/assets/admu.jpg">
  <ion-header collapse="condense">
    
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ateneo de Manila University</ion-card-title>
      <ion-card-subtitle>ADMU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" src="/assets/admu.jpg">
    <ion-card-content>
      A prestigious private Jesuit university recognized for its excellent academic programs and commitment to social development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page4" fill="clear" shape="default" expand="full">BACK</ion-button>

</ion-content>
