<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasay1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/aims.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asian Institute of Maritime Studies (AIMS)</ion-card-title>
      <ion-card-subtitle>AIMS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/aims.jpg">
    <ion-card-content>
      A maritime school in Pasay offering courses related to maritime education, training, and shipboard experience.
digital age.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pasay" fill="clear" shape="default" expand="full">BACK</ion-button>
