<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page27</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mapuam.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mapúa University - Makati Campus</ion-card-title>
      <ion-card-subtitle>MU - MC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mapuam.jpg">
    <ion-card-content>
      A branch of Mapúa University, known for its engineering and technology programs, offering quality education in Makati.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page25" fill="clear" shape="default" expand="full">BACK</ion-button>
