<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tarlac</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/tlc16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Don Bosco Technical Institute - Tarlac City</ion-card-title>
      <ion-card-subtitle>DBTI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/tlc16.jpg">
    <ion-card-content>
      DBTI in Tarlac City focuses on technical education and skills training.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/tarlac" fill="clear" shape="default" expand="full">BACK</ion-button>
