<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/luccc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>La Union Christian Comprehensive College - San Fernando City</ion-card-title>
      <ion-card-subtitle>LUCCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/luccc.jpg">
    <ion-card-content>
      LUCCC, situated in San Fernando City, La Union, is likely a Christian college that provides comprehensive education with a focus on Christian 
values and principles.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/la-u" fill="clear" shape="default" expand="full">BACK</ion-button>
