<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pampanga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/pam15.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Far Eastern University - Dr. Nicanor Reyes Medical Foundation - Angeles City</ion-card-title>
      <ion-card-subtitle>FEU-NRMF</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/pam15.jpg">
    <ion-card-content>
      FEU-NRMF has a campus in Angeles City, offering medical and healthcare-related programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pampanga" fill="clear" shape="default" expand="full">BACK</ion-button>
