<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marikina9</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mpc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Marikina Polytechnic College</ion-card-title>
      <ion-card-subtitle>MPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mpc.jpg">
    <ion-card-content>
      A local polytechnic college in Marikina that provides technical and vocational education to students in the city and nearby areas.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/marikina" fill="clear" shape="default" expand="full">BACK</ion-button>
