<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/dwcv.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Divine Word College of Vigan (DWCV) - Vigan City</ion-card-title>
      <ion-card-subtitle>DWCV</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/dwcv.jpg">
    <ion-card-content>
      DWCV is a private Catholic institution known for its commitment to quality education, with a focus on holistic development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-s" fill="clear" shape="default" expand="full">BACK</ion-button>
