<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>biliran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Visayas State University</ion-card-title>
      <ion-card-subtitle>VSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      A public university in Leyte that focuses on agriculture, forestry, and related fields, contributing to agricultural development in the region.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/biliran" fill="outline" shape="round">BACK</ion-button>