<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao davao-occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/do12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Western Mindanao State University - Malita Campus</ion-card-title>
      <ion-card-subtitle>WMSU-Malita</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/do12.jpg">
    <ion-card-content>
      Established in 1995, offering undergraduate programs in various fields, including agriculture, fisheries, forestry, education, and engineering. Located in Malita, Davao Occidental, providing affordable and accessible education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/davao-occidental" fill="clear" shape="default" expand="full">BACK</ion-button>