<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sarangani</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sg13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mindanao State University - Malapatan Campus</ion-card-title>
      <ion-card-subtitle>MSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sg13.jpg">
    <ion-card-content>
      -Established in 1993
 -Offers undergraduate programs in various fields
 -Located in Malapatan, Sarangani
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/sarangani" fill="clear" shape="default" expand="full">BACK</ion-button>