<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>antique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ant4.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio De San Jose De Antique</ion-card-title>
      <ion-card-subtitle>CDSJDA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ant4.jpg">
    <ion-card-content>
      This is a private college in Antique that provides various academic programs. It plays a role in offering educational opportunities to students 
      in the province.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/antique" fill="clear" shape="default" expand="full">BACK</ion-button>
