<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cv18.JPG">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rogationist College - Silang</ion-card-title>
      <ion-card-subtitle>RC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cv18.JPG">
    <ion-card-content>
      RC in Silang, Cavite, is an educational institution providing various academic programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cavite" fill="clear" shape="default" expand="full">BACK</ion-button>
