<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zambales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/zbl14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>St. Benilde Center for Global Competence - Olongapo City</ion-card-title>
      <ion-card-subtitle>SB-CGC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/zbl14.jpg">
    <ion-card-content>
      SB-CGC is an educational institution in Olongapo City, providing various academic programs with a focus on global competence.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/zambales" fill="clear" shape="default" expand="full">BACK</ion-button>
