<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nueva vizcaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nvpi.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nueva Vizcaya Polytechnic Institute - Bambang</ion-card-title>
      <ion-card-subtitle>NVPI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nvpi.jpg">
    <ion-card-content>
      NVPI is an educational institution in Bambang, Nueva Vizcaya, emphasizing technical and vocational education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/nueva-v" fill="clear" shape="default" expand="full">BACK</ion-button>
