<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/dmmmsu.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Don Mariano Marcos Memorial State University - Agoo</ion-card-title>
      <ion-card-subtitle>DMMMSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/dmmmsu.jpg">
    <ion-card-content>
      DMMMSU in Agoo, La Union, is a state university that offers a diverse range of undergraduate and graduate programs. It is dedicated to promoting research, extension, and production activities for community development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/la-u" fill="clear" shape="default" expand="full">BACK</ion-button>
