<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>south cotabato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Koronadal Institute of Technology</ion-card-title>
      <ion-card-subtitle>KIT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      A private college offering undergraduate programs in engineering, technology, and other fields.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/s-cotabato" fill="outline" shape="round">BACK</ion-button>