<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lanao del norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lanao del Norte Polytechnic College</ion-card-title>
      <ion-card-subtitle>LNPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1999
      Offers vocational courses in various fields, including automotive technology, maritime technology, and welding
      Located in Balo-i, Lanao del Norte
      Equips students with the skills and knowledge needed for immediate employment
      
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/lanao-delnorte" fill="outline" shape="round">BACK</ion-button>