<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pampanga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/pam18.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>AMA Computer College - Angeles</ion-card-title>
      <ion-card-subtitle>AMA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/pam18.jpg">
    <ion-card-content>
      AMA Computer College in Angeles City may offer programs in information technology and computer science.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pampanga" fill="clear" shape="default" expand="full">BACK</ion-button>
