<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/pala13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio de Santa Monica - Palawan</ion-card-title>
      <ion-card-subtitle>CdSM</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/pala13.jpg">
    <ion-card-content>
      A private college in Palawan providing educational services.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/palawan" fill="clear" shape="default" expand="full">BACK</ion-button>
