<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="btn-img" src="/assets/mapua.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mapua University</ion-card-title>
      <ion-card-subtitle>MAPUA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mapua.jpg">
    <ion-card-content>
      Specializing in engineering, architecture, and information technology, Mapua is one of the top engineering schools in the Philippines.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page4" fill="clear" shape="default" expand="full">BACK</ion-button>
