<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>aklan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ak13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Northern Aklan Polytechnic State College</ion-card-title>
      <ion-card-subtitle>NAPSC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ak13.jpg">
    <ion-card-content>
      NAPSC is another state college in Aklan that emphasizes technical and vocational education. It plays a crucial role in preparing students for careers that require specialized skills.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/aklan" fill="clear" shape="default" expand="full">BACK</ion-button>
