<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lanao del norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lanao del Norte College</ion-card-title>
      <ion-card-subtitle>LNC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1959
      Offers undergraduate programs in various fields, including education, liberal arts, and sciences
      Located in Kapatagan, Lanao del Norte
      Provides a strong foundation for students pursuing careers in various fields
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/lanao-delnorte" fill="outline" shape="round">BACK</ion-button>