<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page23</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/tip.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Technological Institute of the Philippines - Quezon City (Las Piñas Campus)</ion-card-title>
      <ion-card-subtitle>TIP</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/tip.jpg">
    <ion-card-content>
      A branch of TIP, known for its engineering and technology-focused programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page15" fill="clear" shape="default" expand="full">BACK</ion-button>
