<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camarines norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cn13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jose Panganiban Community College</ion-card-title>
      <ion-card-subtitle>JPCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cn13.jpg">
    <ion-card-content>
      A community college in the municipality of Jose Panganiban.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/camarines-n" fill="clear" shape="default" expand="full">BACK</ion-button>
