<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bataan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/build 3.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Polytechnic University of the Philippines - Mariveles</ion-card-title>
      <ion-card-subtitle>PUP</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/build 3.jpg">
    <ion-card-content>
      PUP has a campus in Mariveles, Bataan, providing accessible education with a focus on technical and vocational programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bataan" fill="clear" shape="default" expand="full">BACK</ion-button>
