<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camarines sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nag12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Central Bicol State University of Agriculture</ion-card-title>
      <ion-card-subtitle>CBSUA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nag12.jpg">
    <ion-card-content>
      A state university with a focus on agriculture and related fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/camarines-s" fill="clear" shape="default" expand="full">BACK</ion-button>
