<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>aklan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ak19.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio De San Lorenzo Ruiz De Manila</ion-card-title>
      <ion-card-subtitle>CDSLRDM</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ak19.jpg">
    <ion-card-content>
      This private institution is named after San Lorenzo Ruiz de Manila, the first Filipino saint. It offers various academic programs and plays a role in
      providing educational opportunities to the local community.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/aklan" fill="clear" shape="default" expand="full">BACK</ion-button>
