<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>isabela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/isua.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Isabela State University at Angadanan - Angadanan</ion-card-title>
      <ion-card-subtitle>ISU-Angadanan</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/isua.jpg">
    <ion-card-content>
      ISU-Angadanan is a campus of Isabela State University located in Angadanan, Isabela.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/isabela" fill="clear" shape="default" expand="full">BACK</ion-button>
