<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agusan del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ads12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>St. Michael College of Caraga</ion-card-title>
      <ion-card-subtitle>SMCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ads12.jpg">
    <ion-card-content>
      Founded in 1960, offering undergraduate programs in liberal arts, sciences, business administration, and law. Located in Bayugan City, Agusan del Sur, providing a Catholic education emphasizing social responsibility and holistic development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/agusan-delsur" fill="clear" shape="default" expand="full">BACK</ion-button>