<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/page3" size="large" ></ion-icon> 
    <ion-title class="title">MUNTINLUPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/ncr6.jpg">
      <ion-header class="luzon">MUNTINLUPA</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">De La Salle Santiago Zobel School</ion-label>
        <img height="45px" width="42x" src="/assets/dlsszslogo.jpg">
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" routerLink="/muntinlupa1">VIEW</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Pamantasan ng Lungsod ng Muntinlupa</ion-label>
          <img height="45px" width="42x" src="/assets/plmlogo.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/muntinlupa2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">St. Peregrine Institute - Muntinlupa</ion-label>
            <img height="45px" width="42x" src="/assets/spimlogo.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/muntinlupa3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">Asian Institute of Computer Studies - Muntinlupa</ion-label>
              <img height="45px" width="42x" src="/assets/aicslogo.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/muntinlupa4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">Colegio de Muntinlupa</ion-label>
                <img height="45px" width="42x" src="/assets/cdmlogo.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/muntinlupa5">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>
 
            
                <ion-item>
                  <ion-label class="uname">San Beda College Alabang</ion-label>
                  <img height="45px" width="42x" src="/assets/sbcalogo.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/muntinlupa6">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>
 
              
                  <ion-item>
                    <ion-label class="uname">FEATI University - Muntinlupa</ion-label>
                    <img height="45px" width="42x" src="/assets/featilogo.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/muntinlupa7">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>
 
                
                    <ion-item>
                      <ion-label class="uname">South Mansfield College</ion-label>
                      <img height="45px" width="42x" src="/assets/smclogo.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/muntinlupa8">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>
 
                  
                      <ion-item>
                        <ion-label class="uname">Global City Innovative College - Muntinlupa Campus</ion-label>
                        <img height="45px" width="42x" src="/assets/gciclogo.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/muntinlupa9">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>
 
                    
                        <ion-item>
                          <ion-label class="uname">Lyceum of Alabang</ion-label>
                          <img height="45px" width="42x" src="/assets/lalogo.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/muntinlupa10">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>
  
  
                        <ion-button routerLink="/page3" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
