<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quirino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/qc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quirino Colleges - Diffun</ion-card-title>
      <ion-card-subtitle>QC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/qc.jpg">
    <ion-card-content>
      Quirino Colleges is an educational institution in Diffun, Quirino, offering various academic programs
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/quirino" fill="clear" shape="default" expand="full">BACK</ion-button>
