<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>capiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cap14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filamer Christian University</ion-card-title>
      <ion-card-subtitle>FCU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cap14.jpg">
    <ion-card-content>
      Filamer Christian University is a private institution in Capiz offering various academic programs. It integrates Christian values into its educational
      approach and aims to provide a holistic learning experience.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/capiz" fill="clear" shape="default" expand="full">BACK</ion-button>
