<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>albay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/alpiptin.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bicol College</ion-card-title>
      <ion-card-subtitle>BC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/alpiptin.jpg">
    <ion-card-content>
      A private educational institution offering programs in various disciplines.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/albay" fill="clear" shape="default" expand="full">BACK</ion-button>
