<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/page3" size="large" ></ion-icon> 
    <ion-title class="title">MANILA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      

      <ion-card class="card">
        <img class="btn-img" src="assets/ncr10.jpg">
      <ion-header class="luzon">MANILA</ion-header>
      </ion-card>


    </ion-toolbar>
  </ion-header>
  
  <ion-list inset>
  <ion-item-sliding>


    <ion-item>
      <ion-label class="uname" *ngFor="let result of results">University of the Philippines</ion-label>
      <img height="45px" width="42x" src="/assets/uplogo.jpg">
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="success" routerLink="/page5">VIEW</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
  
  <ion-list inset>
    <ion-item-sliding>
  
      <ion-item>
        <ion-label class="uname">Ateneo de Manila University</ion-label>
        <img height="45px" width="42x" src="/assets/admulogo.jpg">
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" routerLink="/page6">VIEW</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>

    <ion-list inset>
      <ion-item-sliding>

    
        <ion-item>
          <ion-label class="uname">De La Salle University</ion-label>
          <img height="45px" width="42x" src="/assets/dlsulogo.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/page7">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>

      <ion-list inset>
        <ion-item-sliding>

      
          <ion-item>
            <ion-label class="uname">University of Santo Tomas</ion-label>
            <img height="45px" width="42x" src="/assets/ustlogo.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/page8">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>

        <ion-list inset>
          <ion-item-sliding>

        
            <ion-item>
              <ion-label class="uname">Far Eastern University</ion-label>
              <img height="45px" width="42x" src="/assets/feulogo.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/page9">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>

          <ion-list inset>
            <ion-item-sliding>

          
              <ion-item>
                <ion-label class="uname">Mapua University</ion-label>
                <img height="45px" width="42x" src="/assets/mapualogo.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/page10">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>

            <ion-list inset>
              <ion-item-sliding>

            
                <ion-item>
                  <ion-label class="uname">Polytec University of the Philippines</ion-label>
                  <img height="45px" width="42x" src="/assets/puplogo.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/page11">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>

              <ion-list inset>
                <ion-item-sliding>

              
                  <ion-item>
                    <ion-label class="uname">Adamson University</ion-label>
                    <img height="45px" width="42x" src="/assets/adamsonlogo.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/page12">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>

                <ion-list inset>
                  <ion-item-sliding>

                    <ion-item>
                      <ion-label class="uname">Philippine Normal University</ion-label>
                      <img height="45px" width="42x" src="/assets/pnulogo.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/page13">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>

                  <ion-list inset>
                    <ion-item-sliding>

                  
                      <ion-item>
                        <ion-label class="uname">Pamantasan ng Lungsod ng Manila</ion-label>
                        <img height="45px" width="42x" src="/assets/plmlogo.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/page14">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>


                      <ion-button routerLink="/page3" fill="outline" shape="round" expand="full">BACK</ion-button>
</ion-content>
