<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ncc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Northern Christian College - Laoag City</ion-card-title>
      <ion-card-subtitle>NCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ncc.jpg">
    <ion-card-content>
      Northern Christian College is a private institution in Laoag City, providing education with a Christian foundation. It offers programs in various fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-n" fill="clear" shape="default" expand="full">BACK</ion-button>
