<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>north cotabato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cot14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of the Philippines Mindanao</ion-card-title>
      <ion-card-subtitle>UPMin</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cot14.jpg">
    <ion-card-content>
      A constituent university of the University of the Philippines System, providing a range of academic programs and contributing to the development of Mindanao.

    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/n-cotabato" fill="clear" shape="default" expand="full">BACK</ion-button>