<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tarlac</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/tlc12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Central Luzon College of Science and Technology - Tarlac City</ion-card-title>
      <ion-card-subtitle>CLCST</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/tlc12.jpg">
    <ion-card-content>
      CLCST in Tarlac City may offer programs in science and technology, emphasizing technical and vocational education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/tarlac" fill="clear" shape="default" expand="full">BACK</ion-button>
