<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marikina6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/rcm.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Roosevelt College Marikina</ion-card-title>
      <ion-card-subtitle>RCM</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/rcm.jpg">
    <ion-card-content>
      A private educational institution offering a range of academic programs from basic education to college-level courses.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/marikina" fill="clear" shape="default" expand="full">BACK</ion-button>
