<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lnug.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lyceum-Northwestern University - Dagupan City</ion-card-title>
      <ion-card-subtitle>LNU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lnug.jpg">
    <ion-card-content>
      Known for its comprehensive academic programs, Lyceum-Northwestern University in Dagupan City provides education in various fields, including healthsciences, business, and technology
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pangasinan" fill="clear" shape="default" expand="full">BACK</ion-button>
