<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bukidnon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/bk13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mindanao State University - Bukidnon Campus</ion-card-title>
      <ion-card-subtitle>MSU-Bukidnon</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bk13.jpg">
    <ion-card-content>
      Established in 1995, offers undergraduate and graduate programs in various fields, including agriculture, fisheries, forestry, and education. Located in Impasug-ong, Bukidnon. Provides a quality education at an affordable cost.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bukidnon" fill="clear" shape="default" expand="full">BACK</ion-button>