<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cebu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cebu Doctors' University</ion-card-title>
      <ion-card-subtitle>CDU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      CDU is a private university specializing in medical and health-related programs. It is known for its medical school and healthcare education.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/cebu" fill="outline" shape="round">BACK</ion-button>