<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasay8</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/aus.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adamson University - St. Therese-MTC Colleges (Pasay Campus)</ion-card-title>
      <ion-card-subtitle>AdU - STMTC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/aus.jpg">
    <ion-card-content>
      A state college focused on aviation education, offering programs in aeronautical engineering, aviation management, and related fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pasay" fill="clear" shape="default" expand="full">BACK</ion-button>
