<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/dwcl.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Divine Word College of Laoag - Laoag City</ion-card-title>
      <ion-card-subtitle>DWCL</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/dwcl.jpg">
    <ion-card-content>
      Divine Word College is a private Catholic institution that offers a variety of academic programs, emphasizing holistic education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-n" fill="clear" shape="default" expand="full">BACK</ion-button>
