<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marikina10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/licsm.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>La Immaculada Concepcion School - Marikina</ion-card-title>
      <ion-card-subtitle>LICS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/licsm.jpg">
    <ion-card-content>
      A private school in Marikina providing education from pre-school to senior high school levels.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/marikina" fill="clear" shape="default" expand="full">BACK</ion-button>
