<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>paranaque5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sbca.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>San Beda College Alabang - Alabang Hills Village Campus</ion-card-title>
      <ion-card-subtitle>SBCA - AHC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sbca.jpg">
    <ion-card-content>
      A Benedictine institution with a campus in Alabang offering various academic programs with an emphasis on character formation and academic
 excellence.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/paranaque" fill="clear" shape="default" expand="full">BACK</ion-button>
