<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/iscc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ilocos Sur Community College  - Cervantes</ion-card-title>
      <ion-card-subtitle>ISCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/iscc.jpg">
    <ion-card-content>
      ISCC in Cervantes is another campus of the community college system, contributing to education in Ilocos Sur.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-s" fill="clear" shape="default" expand="full">BACK</ion-button>
