<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>negros occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neg17.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bacolod City College</ion-card-title>
      <ion-card-subtitle>BCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neg17.jpg">
    <ion-card-content>
      BCC is a public tertiary institution in Bacolod City. It provides accessible and affordable education to students in the area.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/negros-o" fill="clear" shape="default" expand="full">BACK</ion-button>