<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page49</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/amacc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>AMA Computer College - Mandaluyong</ion-card-title>
      <ion-card-subtitle>AMACC - M<</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/amacc.jpg">
    <ion-card-content>
      A branch of AMA Computer College providing education in information technology and related fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page47" fill="clear" shape="default" expand="full">BACK</ion-button>
