<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zamboanga sibungay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Zamboanga Sibugay School of Fisheries</ion-card-title>
      <ion-card-subtitle>ZSSF</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Offers specialized vocational courses and training in various aspects of fisheries, preparing students for careers in the fishing industry. Located in Malangas, Zamboanga Sibugay.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/zamboanga-s" fill="outline" shape="round">BACK</ion-button>