<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cagayan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/csua.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cagayan State University at Andrews Caritan - Caritan, Tuguegarao City</ion-card-title>
      <ion-card-subtitle>CSU-Andrews</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/csua.jpg">
    <ion-card-content>
      CSU-Andrews is a campus of Cagayan State University located in Caritan, Tuguegarao City.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cagayan" fill="clear" shape="default" expand="full">BACK</ion-button>
