<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/incat.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ilocos Norte College of Arts and Trades - Laoag City</ion-card-title>
      <ion-card-subtitle>INCAT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/incat.jpg">
    <ion-card-content>
      INCAT is focused on technical and vocational education, providing training in various skills and trades to meet the needs of the local workforce.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-n" fill="clear" shape="default" expand="full">BACK</ion-button>
