<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>capiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cap13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Capiz Emmanuel Hospital School of Midwifery</ion-card-title>
      <ion-card-subtitle>CEHSM</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cap13.jpg">
    <ion-card-content>
      This institution focuses on midwifery education and training. It plays a crucial role in preparing students for careers in maternal and child health care.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/capiz" fill="clear" shape="default" expand="full">BACK</ion-button>
