<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>isabela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/isap.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>International School of Asia and the Pacific - Cauayan City</ion-card-title>
      <ion-card-subtitle>ISAP</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/isap.jpg">
    <ion-card-content>
      ISAP is an educational institution in Cauayan City, offering programs with an international perspective
    </ion-card-content>
  </ion-card>
  
  <ion-button class="btn" routerLink="/isabela" fill="clear" shape="default" expand="full">BACK</ion-button>
