<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cebu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ce13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cebu Institute of Technology - University </ion-card-title>
      <ion-card-subtitle>CIT-U</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ce13.jpg">
    <ion-card-content>
      CIT-U is a private educational institution in Cebu City that focuses on technology and engineering education. It offers various undergraduate and graduate programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cebu" fill="clear" shape="default" expand="full">BACK</ion-button>