<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zamboanga sibungay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Zamboanga Sibugay Institute of Arts and Sciences</ion-card-title>
      <ion-card-subtitle>ZSIAS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 2010, offering undergraduate programs in various fields, including liberal arts, sciences, and education. Located in Payao, Zamboanga Sibugay, providing a strong foundation for students pursuing careers in various fields.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/zamboanga-s" fill="outline" shape="round">BACK</ion-button>