<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page13</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="btn-img" src="/assets/pnu.jpg">
  <ion-header collapse="condense">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Philippine Normal University</ion-card-title>
        <ion-card-subtitle>PNU</ion-card-subtitle>
      </ion-card-header>
      <img class="upmanila" height="100px" width="290px" src="/assets/pnu.jpg">
      <ion-card-content>
        A public university dedicated to teacher education and producing quality educators.
      </ion-card-content>
    </ion-card>
  
    <ion-button class="btn" routerLink="/page4" fill="clear" shape="default" expand="full">BACK</ion-button>
