<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lanao del norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saint Augustine Metropolitan College of Iligan</ion-card-title>
      <ion-card-subtitle>SAMCI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1950
      Offers undergraduate programs in various fields, including business administration, information technology, and tourism management
      Located in Iligan City, Lanao del Norte
      Provides affordable and accessible education and training
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/lanao-delnorte" fill="outline" shape="round">BACK</ion-button>