<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nueva-e</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neb3.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Wesleyan University-Philippines - Cabanatuan City</ion-card-title>
      <ion-card-subtitle>WU-P</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neb3.jpg">
    <ion-card-content>
      WU-P is a private university in Cabanatuan City, providing education with a Methodist foundation.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/nueva-e" fill="clear" shape="default" expand="full">BACK</ion-button>
