<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region4b" size="large" ></ion-icon> 
    <ion-title class="title">MARINDUQUE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r4b.3.jpg">
      <ion-header class="luzon">MARINDUQUE</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Marinduque State College (MSC)</ion-label>
        <img height="45px" width="42x" src="/assets/marin1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/marinduque1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Marinduque Midwest College</ion-label>
          <img height="45px" width="42x" src="/assets/marin2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/marinduque2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
                        <ion-button routerLink="/region4b" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>



