<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page40</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/aum.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Arellano University - Malabon Campus</ion-card-title>
      <ion-card-subtitle>AU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/aum.jpg">
    <ion-card-content>
      A campus of Arellano University offering a range of academic programs, contributing to the education of students in Malabon.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page36" fill="clear" shape="default" expand="full">BACK</ion-button>
