<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ds17.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Davao Doctors College</ion-card-title>
      <ion-card-subtitle>DDC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ds17.jpg">
    <ion-card-content>
      Founded in 1947, offering undergraduate and graduate programs in medicine, allied health sciences, and other healthcare-related fields. Located in Davao City, recognized for its strong medical education and training programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/davao-delsur" fill="clear" shape="default" expand="full">BACK</ion-button>