<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zambales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/zbl13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gordon College - Olongapo City</ion-card-title>
      <ion-card-subtitle>GC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/zbl13.jpg">
    <ion-card-content>
      Gordon College in Olongapo City offers diverse academic programs with a focus on technical and vocational education
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/zambales" fill="clear" shape="default" expand="full">BACK</ion-button>
