<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page31</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/iac.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>iAcademy</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/iac.jpg">
    <ion-card-content>
      A private school in Makati specializing in programs related to information technology, business, and design, preparing students for careers in the
 creative industries
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page25" fill="clear" shape="default" expand="full">BACK</ion-button>
