<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page57</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mes.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mandaluyong Elementary School</ion-card-title>
      <ion-card-subtitle>MES</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mes.jpg">
    <ion-card-content>
      A public elementary school serving the educational needs of young students in Mandaluyong City.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page47" fill="clear" shape="default" expand="full">BACK</ion-button>
