<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>south cotabato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ramon Magsaysay Memorial Colleges</ion-card-title>
      <ion-card-subtitle>RMMC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      A private college offering undergraduate and graduate programs in criminology, education, business, and other fields.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/s-cotabato" fill="outline" shape="round">BACK</ion-button>