<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region11" size="large" ></ion-icon> 
    <ion-title class="title">DAVAO OCCIDENTAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r11.3.JPG">
      <ion-header class="luzon">DAVAO OCCIDENTAL</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Davao Occidental State College (DOSC)</ion-label>
        <img height="45px" width="42x" src="/assets/do1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/davao-occidental1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Western Mindanao State University - Malita Campus (WMSU-Malita)</ion-label>
          <img height="45px" width="42x" src="/assets/do2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/davao-occidental2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">STI College Malita</ion-label>
            <img height="45px" width="42x" src="/assets/do3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/davao-occidental3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">AMA Computer College Malita</ion-label>
              <img height="45px" width="42x" src="/assets/do4.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/davao-occidental4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">Malita School of Arts and Trades (MSAT)</ion-label>
                <img height="45px" width="42x" src="/assets/dopayb.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/davao-occidental5">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>
 
            
                <ion-item>
                  <ion-label class="uname">Davao Occidental Polytechnic College (DOPC)</ion-label>
                  <img height="45px" width="42x" src="/assets/do6.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/davao-occidental6">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>
 
              
                  <ion-item>
                    <ion-label class="uname">Davao Occidental Institute of Technology (DOIT)</ion-label>
                    <img height="45px" width="42x" src="/assets/do7.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/davao-occidental7">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>
 
                
                    <ion-item>
                      <ion-label class="uname">Davao Occidental College (DOC)</ion-label>
                      <img height="45px" width="42x" src="/assets/do8.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/davao-occidental8">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>
 
                  
                      <ion-item>
                        <ion-label class="uname">Santa Cruz College (SCC)</ion-label>
                        <img height="45px" width="42x" src="/assets/do9.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/davao-occidental9">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>
 
                    
                        <ion-item>
                          <ion-label class="uname">Davao Occidental Institute of Arts and Sciences (DOIAS)</ion-label>
                          <img height="45px" width="42x" src="/assets/do10.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/davao-occidental10">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>
  
  
                        <ion-button routerLink="/region11" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>



