<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region11" size="large" ></ion-icon> 
    <ion-title class="title">DAVAO ORIENTAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r11.4.jpg">
      <ion-header class="luzon">DAVAO ORIENTAL</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Matias H. Aznar Memorial College of Medicine (MHAMCM)</ion-label>
          <img height="45px" width="42x" src="/assets/dor1.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/davao-oriental2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">STI College Mati</ion-label>
            <img height="45px" width="42x" src="/assets/dor2.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/davao-oriental3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">AMA Computer College Mati</ion-label>
              <img height="45px" width="42x" src="/assets/dor3.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/davao-oriental4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-button routerLink="/region11" fill="outline" shape="round" expand="full">BACK</ion-button>
  
</ion-content>



