<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cebu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ce1.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of San Carlos </ion-card-title>
      <ion-card-subtitle>USC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ce1.jpg">
    <ion-card-content>
      USC is a private Catholic university in Cebu City. It offers a wide range of academic programs and is known for its commitment to academic excellence, research, and community service.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cebu" fill="clear" shape="default" expand="full">BACK</ion-button>