<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iloilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ilol10.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of the Philippines Visayas Tacloban College</ion-card-title>
      <ion-card-subtitle>UPV </ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ilol10.jpg">
    <ion-card-content>
      UPV Tacloban College is a satellite campus of UPV located in Tacloban City, Leyte. It offers academic programs and contributes to the educational landscape of the region.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/iloilo" fill="clear" shape="default" expand="full">BACK</ion-button>