<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bukidnon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/bk19.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bukidnon Institute of Technology - Maramag Branch</ion-card-title>
      <ion-card-subtitle>BIT - MB</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bk19.jpg">
    <ion-card-content>
      Provides vocational courses in various fields, including automotive technology, maritime technology, and welding. Located in Maramag, Bukidnon. Equips students with the skills and knowledge needed for immediate employment.

    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bukidnon" fill="clear" shape="default" expand="full">BACK</ion-button>