<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao davao-occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/do16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Davao Occidental Polytechnic College</ion-card-title>
      <ion-card-subtitle>DOPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/do16.jpg">
    <ion-card-content>
      Established in 1999, offering undergraduate programs in various fields, including agriculture, business administration, information technology, and tourism management. Located in Don Marcelino, Davao Occidental, providing affordable and accessible education and training.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/davao-occidental" fill="clear" shape="default" expand="full">BACK</ion-button>