<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/bbc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bethel Bible College - San Fernando City</ion-card-title>
      <ion-card-subtitle>BBC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bbc.jpg">
    <ion-card-content>
      Bethel Bible College, located in San Fernando City, La Union, is likely a Christian institution specializing in biblical studies and theology. It may offer programs for individuals interested in religious education and ministry.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/la-u" fill="clear" shape="default" expand="full">BACK</ion-button>
