<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>capiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cap12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio De La Purisima Concepcion</ion-card-title>
      <ion-card-subtitle>CDLPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cap12.jpg">
    <ion-card-content>
      CDLPC is a private college in Capiz that provides a range of academic programs. It is committed to offering quality education and contributing to the
      intellectual and personal development of its students.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/capiz" fill="clear" shape="default" expand="full">BACK</ion-button>
