<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>negros oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asian College Dumaguete</ion-card-title>
      <ion-card-subtitle>ACD</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      ACD is a private educational institution in Dumaguete City that provides programs in various fields, including business, information technology, and health sciences.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/negros-ov" fill="outline" shape="round">BACK</ion-button>