<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quezon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/q17.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Univeristy of the Philippines Los Baños College of Forestry and Natural Resources - Siniloan</ion-card-title>
      <ion-card-subtitle>UPLB</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/q17.jpg">
    <ion-card-content>
      UPLB's College of Forestry and Natural Resources has a campus in Siniloan, Quezon, focusing on forestry education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/quezon" fill="clear" shape="default" expand="full">BACK</ion-button>
