<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region3" size="large" ></ion-icon> 
    <ion-title class="title">PAMPANGA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r3.4.jpg">
      <ion-header class="luzon">PAMPANGA</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  
    
    <ion-list inset>
      <ion-item-sliding>

    
        <ion-item>
          <ion-label class="uname">Angeles University Foundation (AUF) - Angeles City</ion-label>
          <img height="45px" width="42x" src="/assets/pam1.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/pampanga1">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
  
        <ion-list inset>
          <ion-item-sliding>

        
            <ion-item>
              <ion-label class="uname">Holy Angel University (HAU) - Angeles City</ion-label>
              <img height="45px" width="42x" src="/assets/pam2.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/pampanga2">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>

          
              <ion-item>
                <ion-label class="uname">Don Honorio Ventura Technological State University (DHVTSU) - Bacolor</ion-label>
                <img height="45px" width="42x" src="/assets/pam3.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/pampanga3">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>

            
                <ion-item>
                  <ion-label class="uname">Systems Plus College Foundation (SPCF) - Angeles City</ion-label>
                  <img height="45px" width="42x" src="/assets/pam4.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/pampanga4">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>

              
                  <ion-item>
                    <ion-label class="uname">Far Eastern University - Dr. Nicanor Reyes Medical Foundation (FEU-NRMF) - Angeles City</ion-label>
                    <img height="45px" width="42x" src="/assets/pam5.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/pampanga5">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>

                
                    <ion-item>
                      <ion-label class="uname">Republic Central Colleges (RCC) - Angeles City</ion-label>
                      <img height="45px" width="42x" src="/assets/pam6.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/pampanga6">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>

                  
                      <ion-item>
                        <ion-label class="uname">Asian College of Science and Technology (ACST) - Angeles City</ion-label>
                        <img height="45px" width="42x" src="/assets/pam7.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/pampanga7">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>

                    
                        <ion-item>
                          <ion-label class="uname">AMA Computer College - Angeles</ion-label>
                          <img height="45px" width="42x" src="/assets/pam8.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/pampanga8">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>

                      <ion-list inset>
                        <ion-item-sliding>

                      
                          <ion-item>
                            <ion-label class="uname">City College of Angeles (CCA) - Angeles City</ion-label>
                            <img height="45px" width="42x" src="/assets/pam9.jpg">
                          </ion-item>
                      
                          <ion-item-options side="end">
                            <ion-item-option color="success" routerLink="/pampanga9">VIEW</ion-item-option>
                          </ion-item-options>
                        </ion-item-sliding>
                        </ion-list>

                        <ion-list inset>
                          <ion-item-sliding>

                        
                            <ion-item>
                              <ion-label class="uname">Mabalacat College (MC) - Mabalacat City</ion-label>
                              <img height="45px" width="42x" src="/assets/pam10.jpg">
                            </ion-item>
                        
                            <ion-item-options side="end">
                              <ion-item-option color="success" routerLink="/pampanga10">VIEW</ion-item-option>
                            </ion-item-options>
                          </ion-item-sliding>
                          </ion-list>
  
  
                        <ion-button routerLink="/region3" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
