<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region2" size="large" ></ion-icon> 
    <ion-title class="title">QUIRINO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r2.4.jpeg">
      <ion-header class="luzon">QUIRINO</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Quirino State University (QSU) - Diffun</ion-label>
        <img height="45px" width="42x" src="/assets/qpclogo.jpg">
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" routerLink="/quirino1">VIEW</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Quirino Colleges - Diffun</ion-label>
          <img height="45px" width="42x" src="/assets/qclogo.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/quirino2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Diffun Polytechnic Institute (DPI) - Diffun</ion-label>
            <img height="45px" width="42x" src="/assets/qpclogo.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/quirino3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">University of La Salette - Maddela Campus</ion-label>
              <img height="45px" width="42x" src="/assets/ulsmlogo.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/quirino4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">Quirino Polytechnic College - Diffun</ion-label>
                <img height="45px" width="42x" src="/assets/qpclogo.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/quirino5">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>
  
            
                <ion-item>
                  <ion-label class="uname">Saint Joseph College - Maddela</ion-label>
                  <img height="45px" width="42x" src="/assets/sjclogo.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/quirino6">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>
 
              
                  <ion-item>
                    <ion-label class="uname">Quirino Memorial Medical Center College of Nursing - Diffun</ion-label>
                    <img height="45px" width="42x" src="/assets/qmmclogo.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/quirino7">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>
 
                
                    <ion-item>
                      <ion-label class="uname">AMA Computer College - Maddela</ion-label>
                      <img height="45px" width="42x" src="/assets/amalogo.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/quirino8">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>
 
                  
                      <ion-item>
                        <ion-label class="uname">Diffun National Agricultural and Technical School (DNATS) - Diffun</ion-label>
                        <img height="45px" width="42x" src="/assets/bnatslogo.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/quirino9">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>
 
                    
                        <ion-item>
                          <ion-label class="uname">Maddela Institute of Technology (MIT) - Maddela</ion-label>
                          <img height="45px" width="42x" src="/assets/qpclogo.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/quirino10">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>
  
  
                        <ion-button routerLink="/region2" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
