<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page54</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mshs.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mandaluyong Science High School</ion-card-title>
      <ion-card-subtitle>MSHS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mshs.jpg">
    <ion-card-content>
      A public science high school providing specialized education to academically gifted students in Mandaluyong.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page47" fill="clear" shape="default" expand="full">BACK</ion-button>
