<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page21</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ama.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>AMA Computer College - Las Piñas</ion-card-title>
      <ion-card-subtitle>AMA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ama.jpg">
    <ion-card-content>
      A college known for its information technology programs and commitment to preparing students for careers in the digital age.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page15" fill="clear" shape="default" expand="full">BACK</ion-button>
