<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>aklan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ak11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Aklan State University (ASU)</ion-card-title>
      <ion-card-subtitle>ASU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ak11.jpg">
    <ion-card-content>
      Aklan State University is a public educational institution that provides various undergraduate and graduate programs. It aims to contribute to the development of Aklan and the surrounding regions through education, research, and extension services.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/aklan" fill="clear" shape="default" expand="full">BACK</ion-button>
