<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bohol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/boh11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bohol Island State University</ion-card-title>
      <ion-card-subtitle>BISU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/boh11.jpg">
    <ion-card-content>
      Bohol Island State University is a public educational institution that provides various undergraduate and graduate programs. It aims to contribute to the development of Bohol through education, research, and extension services.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bohol" fill="clear" shape="default" expand="full">BACK</ion-button>