<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region1" size="large" ></ion-icon> 
    <ion-title class="title">PANGASINAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r1.4.jpg">
      <ion-header class="luzon">PANGASINAN</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">University of the Philippines Baguio - College of Medicine (UP Baguio - COM) - Dagupan City</ion-label>
          <img height="45px" width="42x" src="/assets/upblogo.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/pangasinan1">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Lyceum-Northwestern University - Dagupan City</ion-label>
            <img height="45px" width="42x" src="/assets/lnuglogo.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/pangasinan2">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">University of Pangasinan (U-Pang) - Dagupan City</ion-label>
              <img height="45px" width="42x" src="/assets/upanglogo.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/pangasinan3">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">Pangasinan State University (PSU) - Lingayen Campus - Lingayen</ion-label>
                <img height="45px" width="42x" src="/assets/psulogo.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/pangasinan4">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>
 
            
                <ion-item>
                  <ion-label class="uname">University of Luzon (UL) - Dagupan City</ion-label>
                  <img height="45px" width="42x" src="/assets/ullogo.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/pangasinan5">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>
 
              
                  <ion-item>
                    <ion-label class="uname">Colegio de Dagupan (CdD) - Dagupan City</ion-label>
                    <img height="45px" width="42x" src="/assets/cdblogo.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/pangasinan6">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>
 
                
                    <ion-item>
                      <ion-label class="uname">Pangasinan Merchant Marine Academy (PMMA) - Olongapo City Campus</ion-label>
                      <img height="45px" width="42x" src="/assets/pmmalogo.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/pangasinan7">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>
 
                  
                      <ion-item>
                        <ion-label class="uname">University of Pangasinan Phinma Education Network (UP Phinma) - Urdaneta City</ion-label>
                        <img height="45px" width="42x" src="/assets/upplogo.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/pangasinan8">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>
 
                    
                        <ion-item>
                          <ion-label class="uname">Asian College of Science and Technology (ACSAT) - Dagupan City</ion-label>
                          <img height="45px" width="42x" src="/assets/ascatlogo.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/pangasinan9">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>

                      <ion-list inset>
                        <ion-item-sliding>
 
                      
                          <ion-item>
                            <ion-label class="uname">Pangasinan Colleges of Science and Technology (PCST) - Alaminos City</ion-label>
                            <img height="45px" width="42x" src="/assets/pcstlogo.jpg">
                          </ion-item>
                      
                          <ion-item-options side="end">
                            <ion-item-option color="success" routerLink="/pangasinan10">VIEW</ion-item-option>
                          </ion-item-options>
                        </ion-item-sliding>
                        </ion-list>
  
  
                        <ion-button routerLink="/region1" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
