<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zamboanga sibungay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/zss12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>STI College Ipil</ion-card-title>
      <ion-card-subtitle>STI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/zss12.jpg">
    <ion-card-content>
      Offers undergraduate programs in various fields related to information technology and business. Located in Ipil, Zamboanga Sibugay, providing practical skills and training for in-demand IT careers.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/zamboanga-s" fill="clear" shape="default" expand="full">BACK</ion-button>