<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>south cotabato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sc11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notre Dame of Marbel University</ion-card-title>
      <ion-card-subtitle>NDMU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sc11.jpg">
    <ion-card-content>
      A Catholic university offering undergraduate and graduate programs in various fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/s-cotabato" fill="clear" shape="default" expand="full">BACK</ion-button>