<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sorsogon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ss14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>St. Louise de Marillac College of Sorsogon</ion-card-title>
      <ion-card-subtitle>SLMCS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ss14.jpg">
    <ion-card-content>
      A private institution offering programs in various disciplines.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/sorsogon" fill="clear" shape="default" expand="full">BACK</ion-button>
