<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cavite3</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cv13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cavite State University</ion-card-title>
      <ion-card-subtitle>CvSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cv13.jpg">
    <ion-card-content>
      CvSU is a major state university in Cavite, with campuses across the province. It provides various academic programs and contributes to local development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cavite" fill="clear" shape="default" expand="full">BACK</ion-button>
