<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>aklan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ak17.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jaro Evangelical Church School</ion-card-title>
      <ion-card-subtitle>JECS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ak17.jpg">
    <ion-card-content>
      This is a private school affiliated with the Evangelical Church. It provides education from the elementary to secondary levels, incorporating Christian 
      values into its teachings.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/aklan" fill="clear" shape="default" expand="full">BACK</ion-button>
