<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sultan kudarat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/skpiptin.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Isulan State College</ion-card-title>
      <ion-card-subtitle>ISC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/skpiptin.jpg">
    <ion-card-content>
      A public college offering undergraduate programs in business administration, criminology, education, and information technology.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/sultan-kudarat" fill="clear" shape="default" expand="full">BACK</ion-button>