<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zamboanga sibungay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/zss14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ipil School of Arts and Trades</ion-card-title>
      <ion-card-subtitle>ISAT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/zss14.jpg">
    <ion-card-content>
      Offers vocational courses in various fields, including automotive technology, maritime technology, and welding. Located in Ipil, Zamboanga Sibugay, providing training and skills development for immediate employment.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/zamboanga-s" fill="clear" shape="default" expand="full">BACK</ion-button>