<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>capiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cap11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Capiz State University</ion-card-title>
      <ion-card-subtitle>CAPSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cap11.jpg">
    <ion-card-content>
      Capiz State University is a public educational institution that offers a variety of undergraduate and graduate programs.
      It aims to provide quality education and contribute to the development of Capiz and nearby areas.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/capiz" fill="clear" shape="default" expand="full">BACK</ion-button>
