<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quirino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ulsmlogo.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of La Salette - Maddela Campus</ion-card-title>
      <ion-card-subtitle>ULS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="150px" width="280px" src="/assets/ulsmlogo.jpg">
    <ion-card-content>
      The Maddela Campus of the University of La Salette is located in Maddela, Quirino, offering education with a focus on values formation.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/quirino" fill="clear" shape="default" expand="full">BACK</ion-button>
