<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>negros oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/no14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>St. Paul University Dumaguete</ion-card-title>
      <ion-card-subtitle>SPUD</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/no14.jpg">
    <ion-card-content>
      SPUD is a private Catholic university offering a range of academic programs. It focuses on the integration of Christian values into education and the development of socially responsible individuals.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/negros-ov" fill="clear" shape="default" expand="full">BACK</ion-button>