<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>paranaque6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sas.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>St. Andrew's School - Parañaque</ion-card-title>
      <ion-card-subtitle>SAS - P</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sas.jpg">
    <ion-card-content>
      A private school in Parañaque providing education from preschool to high school levels with a focus on academic and character development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/paranaque" fill="clear" shape="default" expand="full">BACK</ion-button>
