<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>southern leyte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Southern Leyte Institute of Technology - San Juan Branch</ion-card-title>
      <ion-card-subtitle>SLIT - SJ</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Provides vocational courses in various fields, including automotive technology, maritime technology, and welding, preparing students for employment opportunities.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/southern-l" fill="outline" shape="round">BACK</ion-button>