<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasay9</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/pcwhs.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pasay City West High School</ion-card-title>
      <ion-card-subtitle>PCWHS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/pcwhs.jpg">
    <ion-card-content>
      A public high school in Pasay City providing secondary education to students in the locality.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pasay" fill="clear" shape="default" expand="full">BACK</ion-button>
