<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>rizal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/riz14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>San Beda University - Rizal Campus</ion-card-title>
      <ion-card-subtitle>SBU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/riz14.jpg">
    <ion-card-content>
      San Beda University has a campus in Taytay, Rizal, offering academic programs with a Benedictine educational tradition.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/rizal" fill="clear" shape="default" expand="full">BACK</ion-button>
