<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>north cotabato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cot11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Central Mindanao University</ion-card-title>
      <ion-card-subtitle>CMU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cot12.jpg">
    <ion-card-content>
      A public research university in Musuan, Bukidnon, known for its programs in agriculture, forestry, and related fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/n-cotabato" fill="clear" shape="default" expand="full">BACK</ion-button>