<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/page3" size="large" ></ion-icon> 
    <ion-title class="title">MAKATI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/ncr2.jpg">
      <ion-header class="luzon">MAKATI</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>

  
      <ion-item>
        <ion-label class="uname">Asian Institute of Management</ion-label>
        <img height="45px" width="42x" src="/assets/aimlogo.jpg">
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" routerLink="/page26">VIEW</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    <ion-list inset>
      <ion-item-sliding>

    
        <ion-item>
          <ion-label class="uname">Mapúa University - Makati Campus</ion-label>
          <img height="45px" width="42x" src="/assets/mapuamlogo.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/page27">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>

      
          <ion-item>
            <ion-label class="uname">Far Eastern University - Makati</ion-label>
            <img height="45px" width="42x" src="/assets/feumlogo.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/page28">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>

        
            <ion-item>
              <ion-label class="uname">University of Perpetual Help System JONELTA</ion-label>
              <img height="45px" width="42x" src="/assets/ceumlogo.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/page29">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>

          
              <ion-item>
                <ion-label class="uname">Don Bosco Technical Institute - Makati</ion-label>
                <img height="45px" width="42x" src="/assets/dbtmlogo.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/page30">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>

            
                <ion-item>
                  <ion-label class="uname">iAcademy</ion-label>
                  <img height="45px" width="42x" src="/assets/iaclogo.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/page31">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
  
              <ion-list inset>
                <ion-item-sliding>

              
                  <ion-item>
                    <ion-label class="uname">Assumption College</ion-label>
                    <img height="45px" width="42x" src="/assets/aclogo.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/page32">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>

                
                    <ion-item>
                      <ion-label class="uname">Asia Pacific College</ion-label>
                      <img height="45px" width="42x" src="/assets/apclogo.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/page33">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>

                  
                      <ion-item>
                        <ion-label class="uname">FEATI University - Makati</ion-label>
                        <img height="45px" width="42x" src="/assets/featilogo.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/page34">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>

                    
                        <ion-item>
                          <ion-label class="uname">De La Salle Graduate School of Business - RCBC Plaza</ion-label>
                          <img height="45px" width="42x" src="/assets/dlsgsblogo.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/page35">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>
  
  
                        <ion-button routerLink="/page3" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
