<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lag13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Laguna State Polytechnic University</ion-card-title>
      <ion-card-subtitle>LSPU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lag13.jpg">
    <ion-card-content>
      LSPU is a state university in Laguna with campuses in different parts of the province. It offers various academic programs, particularly in technology and education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/laguna" fill="clear" shape="default" expand="full">BACK</ion-button>
