<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page43</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/plv.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pamantasan ng Lungsod ng Valenzuela</ion-card-title>
      <ion-card-subtitle>PLV</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/plv.jpg">
    <ion-card-content>
      While not in Malabon, PLV is a nearby public university offering accessible education to residents of Valenzuela and nearby areas.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page36" fill="clear" shape="default" expand="full">BACK</ion-button>
