<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/bts11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Batangas State University</ion-card-title>
      <ion-card-subtitle>BatStateU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bts11.jpg">
    <ion-card-content>
      BatStateU is a major state university in Batangas, with campuses in different parts of the province. It offers a diverse range of academic programs, including engineering, agriculture, and business.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/batangas" fill="clear" shape="default" expand="full">BACK</ion-button>
