<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tarlac</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/tlc11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarlac State University - Tarlac City</ion-card-title>
      <ion-card-subtitle>TSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/tlc11.jpg">
    <ion-card-content>
      TSU is a major state university in Tarlac, offering a variety of academic programs and contributing to regional development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/tarlac" fill="clear" shape="default" expand="full">BACK</ion-button>
