<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quirino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sjc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saint Joseph College - Maddela</ion-card-title>
      <ion-card-subtitle>SJC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sjc.jpg">
    <ion-card-content>
      Saint Joseph College in Maddela, Quirino, is an educational institution providing various academic programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/quirino" fill="clear" shape="default" expand="full">BACK</ion-button>
