<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>negros occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neg14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio San Agustin - Bacolod</ion-card-title>
      <ion-card-subtitle>CSA-B</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neg14.jpg">
    <ion-card-content>
      CSA-B is a private Catholic school in Bacolod City. It offers various academic programs and is known for its commitment to academic excellence and 
character formation.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/negros-o" fill="clear" shape="default" expand="full">BACK</ion-button>