<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quirino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/qmmc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quirino Memorial Medical Center College of Nursing - Diffun</ion-card-title>
      <ion-card-subtitle>QMMCCN</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/qmmc.jpg">
    <ion-card-content>
      This college in Diffun may focus on nursing education, preparing students for careers in the healthcare sector.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/quirino" fill="clear" shape="default" expand="full">BACK</ion-button>
