<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cebu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ce16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cebu Normal University</ion-card-title>
      <ion-card-subtitle>CNU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ce16.jpg">
    <ion-card-content>
      CNU is a public educational institution that focuses on teacher education and research. It plays a significant role in preparing future educators for the region.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cebu" fill="clear" shape="default" expand="full">BACK</ion-button>