<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dinagat islands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dinagat Islands School of Arts and Trades</ion-card-title>
      <ion-card-subtitle>DISAT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Provides vocational courses in various fields, including automotive technology, maritime technology, and welding. Located in Basilisa, Dinagat Islands, preparing students for immediate employment.

    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/dinagat-islands" fill="outline" shape="round">BACK</ion-button>