<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page42</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lcc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>La Consolacion College - Caloocan</ion-card-title>
      <ion-card-subtitle>LCC - C </ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lcc.jpg">
    <ion-card-content>
      Although located in Caloocan, it is relatively close to Malabon and offers various academic programs, emphasizing Catholic education and values.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page36" fill="clear" shape="default" expand="full">BACK</ion-button>
