<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>negros occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neg13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>La Consolacion College - Bacolod</ion-card-title>
      <ion-card-subtitle>LCC-B</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neg13.jpg">
    <ion-card-content>
      LCC-B is a private Catholic college in Bacolod City. It offers academic programs and emphasizes values-based education in the Lasallian tradition.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/negros-o" fill="clear" shape="default" expand="full">BACK</ion-button>