<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camarines sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nag19.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Saint Anthony</ion-card-title>
      <ion-card-subtitle>USANT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nag19.jpg">
    <ion-card-content>
      A private university with a focus on providing quality education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/camarines-s" fill="clear" shape="default" expand="full">BACK</ion-button>
