<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar show-clear-button="always" animated="true" placeholder="Search Regions..."></ion-searchbar>
    <ion-title>page2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    
    <ion-title size="large" class="ncr">NCR</ion-title>
  <ion-list inset>
    <ion-button routerLink="/page3" expand="full" color="light" shape="default">National Capital Region</ion-button>
    </ion-list>
    
    <ion-toolbar>
      <ion-title class="provinces" size="large">PROVINCES</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list inset>
    <ion-button expand="full" color="light" shape="default">National Capital Region</ion-button>
    </ion-list>

  


  <ion-button routerLink="/page1" fill="outline" shape="round" expand="full">REGIONS</ion-button>



</ion-content>
