<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quezon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/q19.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saint Anne College Lucena, Inc.</ion-card-title>
      <ion-card-subtitle>SACL</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/q19.jpg">
    <ion-card-content>
      Saint Anne College in Lucena City offers a range of academic programs, contributing to education in the province.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/quezon" fill="clear" shape="default" expand="full">BACK</ion-button>
