<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lanao del norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ld13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lanao del Norte State University </ion-card-title>
      <ion-card-subtitle>LANSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ld13.jpg">
    <ion-card-content>
      Offers undergraduate and graduate programs in various fields, including education, agriculture, and fisheries
      Has campuses in Kapatagan, Tubod, and Iligan City, Lanao del Norte
      Provides quality education at an affordable cost
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/lanao-delnorte" fill="clear" shape="default" expand="full">BACK</ion-button>