<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bataan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/build 7.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jose Rizal Institute of Science and Technology - Orani</ion-card-title>
      <ion-card-subtitle>JRIST</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/build 7.jpg">
    <ion-card-content>
      JRIST in Orani, Bataan, may focus on science and technology education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bataan" fill="clear" shape="default" expand="full">BACK</ion-button>
