<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marikina3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ama.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>AMA Computer College - Marikina</ion-card-title>
      <ion-card-subtitle>AMA CC - M</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ama.jpg">
    <ion-card-content>
      A branch of AMA Computer College that provides education in information technology and related fields, emphasizing practical skills.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/marikina" fill="clear" shape="default" expand="full">BACK</ion-button>
