<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page34</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/feati.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>FEATI University - Makati</ion-card-title>
      <ion-card-subtitle>FEATI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/feati.jpg">
    <ion-card-content>
      A branch of FEATI University that provides engineering and technology programs, contributing to the development of skilled professionals in Makati.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page25" fill="clear" shape="default" expand="full">BACK</ion-button>
