<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cv16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Lady of Fatima University - Cavite</ion-card-title>
      <ion-card-subtitle>OLFU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cv16.jpg">
    <ion-card-content>
      OLFU has a campus in Cavite, offering health-related programs and other academic courses.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cavite" fill="clear" shape="default" expand="full">BACK</ion-button>
