<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>albay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/al12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Divine Word College of Legazpi </ion-card-title>
      <ion-card-subtitle>DWCL</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/al12.jpg">
    <ion-card-content>
      A private Catholic institution known for its commitment to providing quality education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/albay" fill="clear" shape="default" expand="full">BACK</ion-button>
