<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nueva-e</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neb1.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Central Luzon State University - Muñoz</ion-card-title>
      <ion-card-subtitle>CLSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neb1.jpg">
    <ion-card-content>
      CLSU is a major educational institution in Nueva Ecija, specializing in agriculture and technology, contributing to regional and national development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/nueva-e" fill="clear" shape="default" expand="full">BACK</ion-button>
