<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasay2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"><img class="btn-img" src="/assets/sjdeflogo.jpg">
  <ion-header collapse="condense">
    <ion-card>
      <ion-card-header>
        <ion-card-title>San Juan de Dios Educational Foundation, Inc.</ion-card-title>
        <ion-card-subtitle>SJDEF</ion-card-subtitle>
      </ion-card-header>
      <img class="upmanila" height="150px" width="270px" src="/assets/sjdeflogo.jpg">
      <ion-card-content>
        A college specializing in aviation-related programs, offering training for pilots and other aviation professionals
      </ion-card-content>
    </ion-card>
  
    <ion-button class="btn" routerLink="/pasay" fill="clear" shape="default" expand="full">BACK</ion-button>
  