<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>catanduanes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ct14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Catanduanes Institute of Technology Foundation, Inc.</ion-card-title>
      <ion-card-subtitle>CITFI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ct14.jpg">
    <ion-card-content>
      A private institution focusing on technology-related programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/catanduanes" fill="clear" shape="default" expand="full">BACK</ion-button>
