<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cagayan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/csulogo.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cagayan State University - Tuguegarao City</ion-card-title>
      <ion-card-subtitle>CSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/csulogo.jpg">
    <ion-card-content>
     CSU is a major educational institution in Cagayan, offering a wide range of academic programs and contributing to regional development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cagayan" fill="clear" shape="default" expand="full">BACK</ion-button>
