<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bulacan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/blcn18.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Far Eastern University - Institute of Technology - Malolos</ion-card-title>
      <ion-card-subtitle>FEU Tec</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/blcn18.jpg">
    <ion-card-content>
      FEU Tech has a campus in Malolos, Bulacan, providing technology-focused education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bulacan" fill="clear" shape="default" expand="full">BACK</ion-button>
