<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camiguin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Camiguin Institute of Arts and Sciences</ion-card-title>
      <ion-card-subtitle>CIAS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Offers undergraduate programs in various fields, including liberal arts, sciences, and education, providing students with a well-rounded academic foundation.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/camiguin" fill="outline" shape="round">BACK</ion-button>