<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>antique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ant2.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saint Anthony's College</ion-card-title>
      <ion-card-subtitle>SAC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ant2.jpg">
    <ion-card-content>
      Saint Anthony's College is a private educational institution offering a range of academic programs. It is dedicated to providing students with 
      a well-rounded education that includes both academic and moral development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/antique" fill="clear" shape="default" expand="full">BACK</ion-button>
