<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page33</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/apc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asia Pacific College</ion-card-title>
      <ion-card-subtitle>APC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/apc.jpg">
    <ion-card-content>
      A technology-oriented college offering programs in information technology, multimedia arts, and business, with a focus on preparing students for
 the global IT industry.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page25" fill="clear" shape="default" expand="full">BACK</ion-button>
