<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page37</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cmu.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>City of Malabon University</ion-card-title>
      <ion-card-subtitle>CMU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cmu.jpg">
    <ion-card-content>
      Definition: A local university in Malabon committed to providing accessible and quality education to the residents of the city.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page36" fill="clear" shape="default" expand="full">BACK</ion-button>
