<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bohol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/boh13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bohol Northern Star College</ion-card-title>
      <ion-card-subtitle>BNSC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/boh13.jpg">
    <ion-card-content>
      BNSC is a private college in Bohol that offers various academic programs. It contributes to the local education landscape by providing opportunities for students to pursue higher education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bohol" fill="clear" shape="default" expand="full">BACK</ion-button>