<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/unp.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Northern Philippines - Batac City</ion-card-title>
      <ion-card-subtitle>UNP</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/unp.jpg">
    <ion-card-content>
      UNP in Batac City offers academic programs in different disciplines, contributing to the educational development of the province.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-n" fill="clear" shape="default" expand="full">BACK</ion-button>
