<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasay4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/plp.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pamantasan ng Lungsod ng Pasay (PLP)</ion-card-title>
      <ion-card-subtitle>PLP</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/plp.jpg">
    <ion-card-content>
      The local university of Pasay City, committed to providing accessible and quality education to residents.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pasay" fill="clear" shape="default" expand="full">BACK</ion-button>
