<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page22</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lpc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Centro Escolar Las Piñas</ion-card-title>
      <ion-card-subtitle>CELP</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lpc.jpg">
    <ion-card-content>
      A local educational institution offering a range of academic programs to cater to the needs of the community.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page15" fill="clear" shape="default" expand="full">BACK</ion-button>
