<ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="200"></ion-loading>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marikina1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/pupm.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Polytechnic University of the Philippines - Marikina</ion-card-title>
      <ion-card-subtitle>PUP - M</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/pupm.jpg">
    <ion-card-content>
      A branch of the national Polytechnic University of the Philippines, offering a wide range of undergraduate and graduate programs with a focus on technical and vocational education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/marikina" fill="clear" shape="default" expand="full">BACK</ion-button>
