<ion-header [translucent]="true">
  <!--<ion-toolbar>
    
    <ion-searchbar show-clear-button="always" animated="true" placeholder="Find regions..."></ion-searchbar>
    <ion-title></ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-toolbar class="ulo"> 
  <ion-title class="head1" size="large">Regions</ion-title>
</ion-toolbar>

<ion-content class="home" >


  <ion-card class="card">
    <img class="btn-img" src="assets/map1.jpeg">
  <ion-header class="luzon">LUZON</ion-header>
  </ion-card>

  <ion-list inset>
    <img class="btn-img" src="assets/ncr.jpeg">
    <ion-button class="btn1" routerLink="/page3" expand="full" fill="clear" shape="round"> NCR</ion-button>
    </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r1.jpg">
  <ion-button class="btn1" routerLink="/region1" expand="full" fill="clear" shape="default">REGION I</ion-button>
  </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r2.jpg">
    <ion-button class="btn1"  routerLink="/region2" expand="full" fill="clear" shape="default">REGION II</ion-button>
  </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r3.jpeg">
    <ion-button class="btn1" routerLink="/region3" expand="full" fill="clear" shape="default">REGION III</ion-button>
  </ion-list>
  
  <ion-list inset>
    <img class="btn-img" src="assets/r4.jpg">
    <ion-button class="btn1" routerLink="/region4a" expand="full" fill="clear" shape="default">REGION IV - A</ion-button>
  </ion-list>
  <ion-list inset>
    <img class="btn-img" src="assets/r4b.jpg">
    <ion-button class="btn1" routerLink="/region4b" expand="full" fill="clear" shape="default">REGION IV - B</ion-button>
  </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r5.jpeg">
    <ion-button class="btn1" routerLink="/region5" expand="full" fill="clear" shape="default">REGION V</ion-button>
  </ion-list>


  <ion-card class="card">
    <img class="btn-img" src="assets/map2.jpeg">
  <ion-header class="visayas">VISAYAS</ion-header>
  </ion-card>
  <ion-list inset>
    <img class="btn-img" src="assets/r6.jpg">
    <ion-button class="btn1" routerLink="/region6" expand="full" fill="clear" shape="default">REGION VI</ion-button>
  </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r7.jpeg">
    <ion-button class="btn1" routerLink="/region7" expand="full" fill="clear" shape="default">REGION VII</ion-button>
  </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r8.jpeg">
    <ion-button class="btn1" routerLink="/region8" expand="full" fill="clear" shape="default">REGION VIII</ion-button>
  </ion-list>

  <ion-card class="card">
    <img class="btn-img" src="assets/map3.jpeg">
  <ion-header class="mindanao">MINDANAO</ion-header>
  </ion-card>
  <ion-list inset>
    <img class="btn-img" src="assets/r9.jpg">
    <ion-button class="btn1" routerLink="/region9" expand="full" fill="clear" shape="default">REGION IX</ion-button>
  </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r10.jpeg">
    <ion-button class="btn1" routerLink="/region10" expand="full" fill="clear" shape="default">REGION X</ion-button>
  </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r11.JPG">
    <ion-button class="btn1" routerLink="/region11" expand="full" fill="clear" shape="default">REGION XI</ion-button>
  </ion-list>
  
  <ion-list inset>
    <img class="btn-img" src="assets/r12.jpeg">
    <ion-button class="btn1" routerLink="/region12" expand="full" fill="clear" shape="default">REGION XII</ion-button>
  </ion-list>

  <ion-list inset>
    <img class="btn-img" src="assets/r13.jpg">
    <ion-button class="btn1" routerLink="/region13" expand="full" fill="clear" shape="default">REGION XIII</ion-button>
  </ion-list>
  
  

  <ion-button class="btn" routerLink="/home" fill="clear" shape="default" expand="full">BACK</ion-button>
</ion-content>
