<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dinagat islands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>San Jose Institute of Technology</ion-card-title>
      <ion-card-subtitle>SJIT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 2011, offering undergraduate programs in various fields, including engineering, information technology, and criminology. Located in San Jose, Dinagat Islands, focusing on developing technical and professional skills.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/dinagat-islands" fill="outline" shape="round">BACK</ion-button>