<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>isabela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/isuc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Isabela State University at Cabagan - Cabagan</ion-card-title>
      <ion-card-subtitle>ISU-Cabagan</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/isuc.jpg">
    <ion-card-content>
      ISU-Cabagan is a campus of Isabela State University located in Cabagan, Isabela
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/isabela" fill="clear" shape="default" expand="full">BACK</ion-button>
