<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bukidnon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/bk2.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Central Mindanao University</ion-card-title>
      <ion-card-subtitle>CMU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bk2.jpg">
    <ion-card-content>
      Established in 1910, offers undergraduate and graduate programs in various fields, including medicine, law, and engineering. Located in Musuan, Bukidnon. Recognized for its strong academic programs and commitment to research.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bukidnon" fill="clear" shape="default" expand="full">BACK</ion-button>