<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region12" size="large" ></ion-icon> 
    <ion-title class="title">SOUTH COTABATO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r12.3.jpg">
      <ion-header class="luzon">SOUTH COTABATO</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Notre Dame of Marbel University (NDMU)</ion-label>
        <img height="45px" width="42x" src="/assets/sc1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/s-cotabato1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">South Cotabato State College (SCSC)</ion-label>
            <img height="45px" width="42x" src="/assets/sc3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/s-cotabato3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">St. Alexis College</ion-label>
              <img height="45px" width="42x" src="/assets/sc4.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/s-cotabato4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
            <ion-list inset>
                    <ion-item-sliding>
 
                  
                      <ion-item>
                        <ion-label class="uname">Notre Dame — Siena College of Polomolok (NDSCP)</ion-label>
                        <img height="45px" width="42x" src="/assets/sc9.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/s-cotabato9">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-button routerLink="/region12" fill="outline" shape="round" expand="full">BACK</ion-button>
  
</ion-content>



