<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bukidnon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bukidnon Polytechnic College</ion-card-title>
      <ion-card-subtitle>BPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bk20.jpg">
    <ion-card-content>
      Established in 1991, offers undergraduate programs in various fields, including agriculture, business administration, and information technology. Located in Maramag, Bukidnon. Provides quality education at an affordable cost.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/bukidnon" fill="outline" shape="round">BACK</ion-button>