<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>paranaque9</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/stim.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>STI College - Parañaque</ion-card-title>
      <ion-card-subtitle>STI - P</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/stim.jpg">
    <ion-card-content>
      A school offering international education programs, including the International Baccalaureate, with a focus on holistic development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/paranaque" fill="clear" shape="default" expand="full">BACK</ion-button>
