<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Davao Oriental Polytechnic College</ion-card-title>
      <ion-card-subtitle>DOPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1994, offering undergraduate programs in various fields, including agriculture, business administration, information technology, and tourism management. Located in Lupon, Davao Oriental, providing affordable and accessible education and training.

    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/davao-oriental" fill="outline" shape="round">BACK</ion-button>