<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/upang.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Pangasinan - Dagupan City</ion-card-title>
      <ion-card-subtitle>UPang</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/upang.jpg">
    <ion-card-content>
      UPang is a reputable institution in Dagupan City, offering a diverse range of undergraduate and graduate programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pangasinan" fill="clear" shape="default" expand="full">BACK</ion-button>
