<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>negros occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neg19.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Northern Negros State College of Science and Technology</ion-card-title>
      <ion-card-subtitle>NONESCOST</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neg19.jpg">
    <ion-card-content>
      NONESCOST is a state college with campuses in Sagay City and other areas. It specializes in science and technology education and plays a role in 
      regional development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/negros-o" fill="clear" shape="default" expand="full">BACK</ion-button>