<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nueva-e</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/neb5.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>College of the Immaculate Conception - Cabanatuan City</ion-card-title>
      <ion-card-subtitle>CIC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/neb5.jpg">
    <ion-card-content>
      CIC is an educational institution in Cabanatuan City, providing education with a Catholic foundation.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/nueva-e" fill="clear" shape="default" expand="full">BACK</ion-button>
