<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bulacan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/blcn20.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio de San Gabriel Arcangel - San Jose del Monte</ion-card-title>
      <ion-card-subtitle>CSGA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/blcn20.jpg">
    <ion-card-content>
      CSGA in San Jose del Monte provides education with a focus on holistic development and values formation.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bulacan" fill="clear" shape="default" expand="full">BACK</ion-button>
