<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/bts19.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio ng Lungsod ng Batangas </ion-card-title>
      <ion-card-subtitle>CLB</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bts19.jpg">
    <ion-card-content>
      CLB is a local college in Batangas City, providing accessible education and contributing to the local community
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/batangas" fill="clear" shape="default" expand="full">BACK</ion-button>
