<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>misamis occidental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mo12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Misamis Occidental State University-Main Campus</ion-card-title>
      <ion-card-subtitle>MOSU-Main</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mo12.jpg">
    <ion-card-content>
      Established in 1904, offering undergraduate and graduate programs in various fields, including education, agriculture, fisheries, and engineering.

    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/misamis-occidental" fill="clear" shape="default" expand="full">BACK</ion-button>