<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region3" size="large" ></ion-icon> 
    <ion-title class="title">TARLAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r3.5.jpg">
      <ion-header class="luzon">TARLAC</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Tarlac State University (TSU) - Tarlac City</ion-label>
        <img height="45px" width="42x" src="/assets/tlc1.jpg">
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" routerLink="/tarlac1">VIEW</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Central Luzon College of Science and Technology (CLCST) - Tarlac City</ion-label>
            <img height="45px" width="42x" src="/assets/tlc2.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/tarlac2">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">College of the Holy Spirit of Tarlac (CHST) - Tarlac City</ion-label>
              <img height="45px" width="42x" src="/assets/tlc3.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/tarlac3">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">AMA Computer College - Tarlac City</ion-label>
                <img height="45px" width="42x" src="/assets/tlc4.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/tarlac4">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>
 
            
                <ion-item>
                  <ion-label class="uname">Don Bosco Technical Institute (DBTI) - Tarlac City</ion-label>
                  <img height="45px" width="42x" src="/assets/tlc5.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/tarlac5">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>
 
              
                  <ion-item>
                    <ion-label class="uname">Kolehiyo ng Lungsod ng Tarlac (KLT) - Tarlac City</ion-label>
                    <img height="45px" width="42x" src="/assets/tlc6.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/tarlac6">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>
 
                
                    <ion-item>
                      <ion-label class="uname">Ramon Magsaysay Technological University (RMTU) - San Marcelino</ion-label>
                      <img height="45px" width="42x" src="/assets/tlc7.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/tarlac7">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>
 
                  
                      <ion-item>
                        <ion-label class="uname">Tarlac College of Agriculture (TCA) - Camiling</ion-label>
                        <img height="45px" width="42x" src="/assets/tlc8.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/tarlac8">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>
 
                    
                        <ion-item>
                          <ion-label class="uname">Dr. Pablito V. Mendoza Memorial Colleges (DPVMC) - Capas</ion-label>
                          <img height="45px" width="42x" src="/assets/tlc9.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/tarlac9">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>

                      <ion-list inset>
                        <ion-item-sliding>
 
                      
                          <ion-item>
                            <ion-label class="uname">Mount Carmel College of Baler, Tarlac Campus - Capas</ion-label>
                            <img height="45px" width="42x" src="/assets/tlc10.jpg">
                          </ion-item>
                      
                          <ion-item-options side="end">
                            <ion-item-option color="success" routerLink="/tarlac10">VIEW</ion-item-option>
                          </ion-item-options>
                        </ion-item-sliding>
                        </ion-list>
  
  
                        <ion-button routerLink="/region3" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
