<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cebu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asian College of Technology International Educational Foundation, Inc.</ion-card-title>
      <ion-card-subtitle>ACT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      ACT is a private educational institution in Cebu City that focuses on technology and information technology education. It offers programs designed to meet the demands of the IT industry.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/cebu" fill="outline" shape="round">BACK</ion-button>