<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>davao del norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/dv13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Digos City College</ion-card-title>
      <ion-card-subtitle>DCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/dv13.jpg">
    <ion-card-content>
      Established in 1983, offering undergraduate programs in business administration, information technology, tourism management, and more. Located in Digos City, providing affordable and accessible education and training.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/davao-delnorte" fill="clear" shape="default" expand="full">BACK</ion-button>