<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iloilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ilol8.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iloilo State College of Fisheries</ion-card-title>
      <ion-card-subtitle>ISCOF</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ilol8.jpg">
    <ion-card-content>
      ISCOF is a public educational institution that focuses on fisheries education. It plays a crucial role in training students for careers in the 
      fisheries and aquaculture sectors.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/iloilo" fill="clear" shape="default" expand="full">BACK</ion-button>