<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>surigao del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sds11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Surigao del Sur State University</ion-card-title>
      <ion-card-subtitle>SDSSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sds11.jpg">
    <ion-card-content>
      Established in 1995, offering undergraduate and graduate programs in various fields, including agriculture, fisheries, forestry, education, and engineering. Located in Tandag City, Surigao del Sur, committed to providing quality education at an affordable cost.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/surigao-delsur" fill="clear" shape="default" expand="full">BACK</ion-button>