<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zamboang del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/zdnpiptin.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Zamboanga del Sur Institute of Technology</ion-card-title>
      <ion-card-subtitle>ZSIT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/zdnpiptin.jpg">
    <ion-card-content>
      Established in 1977, offering undergraduate programs in engineering, architecture, criminology & more. Located in Molave, Zamboanga del Sur, focusing on developing technical and professional skills for diverse fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/zamboanga-delsur" fill="clear" shape="default" expand="full">BACK</ion-button>