<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cagayan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cpc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cagayan Polytechnic College - Lal-lo</ion-card-title>
      <ion-card-subtitle>CPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cpc.jpg">
    <ion-card-content>
      CPC is a higher education institution in Lal-lo, Cagayan, emphasizing technical and vocational education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cagayan" fill="clear" shape="default" expand="full">BACK</ion-button>
