<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region5" size="large" ></ion-icon> 
    <ion-title class="title">CAMARINES NORTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r5.2.jpg">
      <ion-header class="luzon">CAMARINES NORTE</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Camarines Norte State College (CNSC)</ion-label>
        <img height="45px" width="42x" src="/assets/cn1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/camarines-n1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Governors Forum of Colleges</ion-label>
          <img height="45px" width="42x" src="/assets/cn2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/camarines-n2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Jose Panganiban Community College</ion-label>
            <img height="45px" width="42x" src="/assets/cn3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/camarines-n3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">Bicol College of Science and Technology (BCST)</ion-label>
              <img height="45px" width="42x" src="/assets/cn4.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/camarines-n4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">Mercedes School of Fisheries</ion-label>
                <img height="45px" width="42x" src="/assets/cnpayb.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/camarines-n5">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
          
  
  
                        <ion-button routerLink="/region5" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>



