<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page30</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/dbtm.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Don Bosco Technical Institute - Makati</ion-card-title>
      <ion-card-subtitle>DBT - M</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/dbtm.jpg">
    <ion-card-content>
      A technical and vocational institution following the educational principles of St. John Bosco, emphasizing skills training and character development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page25" fill="clear" shape="default" expand="full">BACK</ion-button>
