<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page24</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/amam.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pamantasan ng Lungsod ng Las Piñas</ion-card-title>
      <ion-card-subtitle>AMA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/amam.jpg">
    <ion-card-content>
      A medical school that is part of the AMA Education System, preparing students for careers in the field of medicine.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page15" fill="clear" shape="default" expand="full">BACK</ion-button>
