<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Eastern Samar Technical College</ion-card-title>
      <ion-card-subtitle>ESTC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Offers vocational courses in various fields.
      Located in Oras, Eastern Samar.
      Provides technical skills for various industries.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/eastern-s" fill="outline" shape="round">BACK</ion-button>