<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasig5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/umak.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Makati - Pasig Campus</ion-card-title>
      <ion-card-subtitle>UMAK</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/umak.jpg">
    <ion-card-content>
      A branch campus of the University of Makati offering accessible education to residents of Pasig and nearby areas.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pasig" fill="clear" shape="default" expand="full">BACK</ion-button>
