<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>rizal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/riz19.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>St. Augustine School of Nursing - Antipolo</ion-card-title>
      <ion-card-subtitle>SACN</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/riz19.jpg">
    <ion-card-content>
      St. Augustine School of Nursing in Antipolo offers programs in nursing and related healthcare fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/rizal" fill="clear" shape="default" expand="full">BACK</ion-button>
