<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bulacan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/blcn17.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Montessori Professional College - Meycauayan</ion-card-title>
      <ion-card-subtitle>MPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/blcn17.jpg">
    <ion-card-content>
      MPC in Meycauayan may offer Montessori-based education along with other academic programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bulacan" fill="clear" shape="default" expand="full">BACK</ion-button>
