<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marikina8</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sstm.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>St. Scholastica's Academy, Marikina</ion-card-title>
      <ion-card-subtitle>SSA - M</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sstm.jpg">
    <ion-card-content>
      A Catholic school for girls in Marikina offering holistic education and character development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/marikina" fill="clear" shape="default" expand="full">BACK</ion-button>
