<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>northern samar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ns13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Catarman College</ion-card-title>
      <ion-card-subtitle>CC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ns13.jpg">
    <ion-card-content>
      Founded in 1946, offers various undergraduate programs in education, liberal arts, and sciences, providing a strong foundation for diverse career paths.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/northern-s" fill="clear" shape="default" expand="full">BACK</ion-button>