<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cagayan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nccf.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Northern Cagayan Colleges Foundation - Enrile</ion-card-title>
      <ion-card-subtitle>NCCF</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nccf.jpg">
    <ion-card-content>
      NCCF is an educational institution in Enrile, Cagayan, offering various academic programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cagayan" fill="clear" shape="default" expand="full">BACK</ion-button>
