<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>surigao del norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Claver College, Inc.</ion-card-title>
      <ion-card-subtitle>CCI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 1967, offering undergraduate programs in various fields, including education, liberal arts, sciences, and business administration. Located in Claver, Surigao del Norte, providing a strong foundation for diverse career paths.

    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/surigao-delnorte" fill="outline" shape="round">BACK</ion-button>