<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sultan kudarat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notre Dame of Tacurong College</ion-card-title>
      <ion-card-subtitle>NDTC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sk12.jpg">
    <ion-card-content>
      A private Catholic college offering undergraduate programs in business administration, computer science, information technology, and education.
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/sultan-kudarat" fill="outline" shape="round">BACK</ion-button>