<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quirino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/qsu.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quirino Polytechnic College - Diffun</ion-card-title>
      <ion-card-subtitle>QPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/qsu.jpg">
    <ion-card-content>
      Quirino Polytechnic College in Diffun provides technical and vocational education to meet the needs of the local community.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/quirino" fill="clear" shape="default" expand="full">BACK</ion-button>
