<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lucnas.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>La Union College of Nursing, Arts and Sciences - Agoo</ion-card-title>
      <ion-card-subtitle>LUCNAS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lucnas.jpg">
    <ion-card-content>
      LUCNAS, located in Bacnotan, La Union, focuses on nursing, arts, and sciences education. It aims to produce competent professionals in the field of healthcare and other related disciplines.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/la-u" fill="clear" shape="default" expand="full">BACK</ion-button>
