<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camiguin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Camiguin School of Agriculture</ion-card-title>
      <ion-card-subtitle>CSA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Provides vocational courses and training in various agricultural practices, equipping students with the skills and knowledge needed for a career in agriculture. 
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/camiguin" fill="outline" shape="round">BACK</ion-button>