<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page56</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lsm.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lourdes School of Mandaluyong</ion-card-title>
      <ion-card-subtitle>LSM</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lsm.jpg">
    <ion-card-content>
      A Catholic school offering education from pre-school to secondary levels, with a focus on academic excellence and character formation.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page47" fill="clear" shape="default" expand="full">BACK</ion-button>
