<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region2" size="large" ></ion-icon> 
    <ion-title class="title">CAGAYAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r2.1.JPG">
      <ion-header class="luzon">CAGAYAN</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Cagayan State University (CSU) - Tuguegarao Cityy</ion-label>
        <img height="45px" width="42x" src="/assets/csulogo.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/cagayan1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">University of Saint Louis Tuguegarao (USLT) - Tuguegarao City</ion-label>
          <img height="45px" width="42x" src="/assets/usltlogo.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/cagayan2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Cagayan Valley Medical Center College of Nursing (CVMC) - Tuguegarao City</ion-label>
            <img height="45px" width="42x" src="/assets/cvmclogo.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/cagayan3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">University of Cagayan Valley (UCV) - Tuguegarao City</ion-label>
              <img height="45px" width="42x" src="/assets/ucvlogo.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/cagayan4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>
 
          
              <ion-item>
                <ion-label class="uname">Cagayan Polytechnic College (CPC) - Lal-lo</ion-label>
                <img height="45px" width="42x" src="/assets/cpclogo.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/cagayan5">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>
 
            
                <ion-item>
                  <ion-label class="uname">Cagayan State University at Andrews Caritan (CSU-Andrews) - Caritan, Tuguegarao City</ion-label>
                  <img height="45px" width="42x" src="/assets/csualogo.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/cagayan6">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
              
  
              <ion-list inset>
                <ion-item-sliding>
 
              
                  <ion-item>
                    <ion-label class="uname">Northern Cagayan Colleges Foundation (NCCF) - Enrile</ion-label>
                    <img height="45px" width="42x" src="/assets/nccflogo.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/cagayan7">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>
 
                
                    <ion-item>
                      <ion-label class="uname">F.L. Vargas College - Tuguegarao City</ion-label>
                      <img height="45px" width="42x" src="/assets/fvllogo.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/cagayan8">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>
 
                  
                      <ion-item>
                        <ion-label class="uname">Cagayan Valley Computer and Information Technology College (CVCITC) - Tuguegarao City</ion-label>
                        <img height="45px" width="42x" src="/assets/cvcitclogo.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/cagayan9">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>
 
                    
                        <ion-item>
                          <ion-label class="uname">Cagayan State University at Piat (CSU-Piat) - Piat</ion-label>
                          <img height="45px" width="42x" src="/assets/piatlogo.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/cagayan10">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>
  
  
                        <ion-button routerLink="/region2" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
