<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nueva vizcaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mit.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mountaineer Institute of Technology - Bayombong</ion-card-title>
      <ion-card-subtitle>MIT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mit.jpg">
    <ion-card-content>
      MIT in Bayombong provides technical education and skills training, contributing to the development of the workforce.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/nueva-v" fill="clear" shape="default" expand="full">BACK</ion-button>
