<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region13" size="large" ></ion-icon> 
    <ion-title class="title">AGUSAN DEL SUR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r13.2.jpg">
      <ion-header class="luzon">AGUSAN DEL SUR</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Agusan del Sur State College of Agriculture and Technology (ASSCAT)</ion-label>
        <img height="45px" width="42x" src="/assets/ads1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/agusan-delsur1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">St. Michael College of Caraga (SMCC)</ion-label>
          <img height="45px" width="42x" src="/assets/ads2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/agusan-delsur2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Agusan del Sur Polytechnic College (ADSPC)</ion-label>
            <img height="45px" width="42x" src="/assets/ads3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/agusan-delsur3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">Agusan del Sur School of Arts and Trades (ADSSAT)</ion-label>
              <img height="45px" width="42x" src="/assets/ads4.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/agusan-delsur4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
          <ion-button routerLink="/region13" fill="outline" shape="round" expand="full">BACK</ion-button>
        </ion-content>