<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>leyte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/le12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Visayas State University</ion-card-title>
      <ion-card-subtitle>VSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/le12.jpg">
    <ion-card-content>
      Offers undergraduate and graduate programs in various fields, including agriculture, fisheries, forestry, and engineering. Renowned for its research and development programs in agriculture and related fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/leyte" fill="clear" shape="default" expand="full">BACK</ion-button>