<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bataan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/build 1.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bataan Peninsula State University - Balanga</ion-card-title>
      <ion-card-subtitle>BPSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/build 1.jpg">
    <ion-card-content>
      BPSU is a major educational institution in Bataan, offering a range of academic programs and contributing to regional development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/bataan" fill="clear" shape="default" expand="full">BACK</ion-button>
