<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>north cotabato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cot18.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Davao Medical School Foundation</ion-card-title>
      <ion-card-subtitle>DMSF</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cot18.jpg">
    <ion-card-content>
      A private medical school in Davao City, providing medical education and contributing to healthcare in the region.

    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/n-cotabato" fill="clear" shape="default" expand="full">BACK</ion-button>