<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page8</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="btn-img" src="/assets/feu.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Far Eastern University</ion-card-title>
      <ion-card-subtitle>FEU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/feu.jpg">
    <ion-card-content>
      A private university with a strong tradition in the arts and sciences, business, and technology.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page4" fill="clear" shape="default" expand="full">BACK</ion-button>

