<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>masbate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mb11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Masbate Campus</ion-card-title>
      <ion-card-subtitle>MMSU-Masbate</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mb11.jpg">
    <ion-card-content>
     A campus of the Mariano Marcos State University, a state institution offering various academic programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/masbate" fill="clear" shape="default" expand="full">BACK</ion-button>
