<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nlpsc.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>North Luzon Philippines State College - Candon City</ion-card-title>
      <ion-card-subtitle>NLPSC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nlpsc.jpg">
    <ion-card-content>
      NLPSC in Candon City is part of the state college system, offering academic programs with a focus on regional development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-s" fill="clear" shape="default" expand="full">BACK</ion-button>
