<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>guimaras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/guil2.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Guimaras Polytechnic College</ion-card-title>
      <ion-card-subtitle>GPC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/guil2.jpg">
    <ion-card-content>
      Guimaras Polytechnic College is a public educational institution offering technical and vocational courses. It focuses on providing practical skills and
      knowledge to students for employment in various industries.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/guimaras" fill="clear" shape="default" expand="full">BACK</ion-button>