<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ilocos_n1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/iln.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mariano Marcos State University - Batac City</ion-card-title>
      <ion-card-subtitle>MMSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/iln.jpg">
    <ion-card-content>
      MMSU is a leading educational institution in Ilocos Norte, offering a range of undergraduate and graduate programs. It is committed to research and 
community development.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/ilocos-n" fill="clear" shape="default" expand="full">BACK</ion-button>
