<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasig6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/rhsp.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rizal High School - Pasig Annex</ion-card-title>
      <ion-card-subtitle>RHS - PA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/rhsp.jpg">
    <ion-card-content>
      A branch of Rizal High School, one of the largest public high schools in the Philippines, providing secondary education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/pasig" fill="clear" shape="default" expand="full">BACK</ion-button>
