<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cv14.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Emilio Aguinaldo College - Cavite</ion-card-title>
      <ion-card-subtitle>EAC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cv14.jpg">
    <ion-card-content>
      EAC has a campus in Cavite, providing academic programs with a focus on health sciences and other disciplines.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/cavite" fill="clear" shape="default" expand="full">BACK</ion-button>
