

  <!-- <div class="parent" >     -->
    <img class="img" src="assets/mainlogo.png" alt="img">
    <ion-card class="child1">
      <img class="logo" src="assets/mainlogo.png" alt="img">
    </ion-card>
      <ion-card class="child">
        <!--<img class="bglogo" src="assets/mainlogo.png" alt="img"> -->
      

      <p class="p"> UNVEILING THE PHILIPPINES <br> EXPLORING ALL UNIVERSITY</p>
 
      <ion-button class="btn" id="open-loading" routerLink="/page1" fill="block" shape="round" expand="full">Go...</ion-button>
      </ion-card>

  <!-- </div> -->



  <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="200"></ion-loading>
      
 
      



      <!--  <img class="img" src="assets/h1.jpg" alt="img"> -->
    <!-- <div class="container">'    <div class='fit'> -->
      <!-- <h3><B>SCHOOL UNIVERSITY NAVIGATION</B></h3> -->
      <!-- <h4>APP DESCRIPTION</h4> -->
    <!-- </div> -->