<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/bts12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lyceum of the Philippines University - Batangas</ion-card-title>
      <ion-card-subtitle>LPU Batangas</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/bts12.jpg">
    <ion-card-content>
      LPU Batangas is a branch of the Lyceum of the Philippines University, offering various academic programs with a focus on business, tourism, and hospitality.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/batangas" fill="clear" shape="default" expand="full">BACK</ion-button>
