<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region4b" size="large" ></ion-icon> 
    <ion-title class="title">ORIENTAL MINDORO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r4b.2.jpg">
      <ion-header class="luzon">ORIENTAL MINDORO</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Mindoro State College of Agriculture and Technology (MinSCAT)</ion-label>
        <img height="45px" width="42x" src="/assets/ori1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/oriental-m1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Oriental Mindoro State College of Agriculture and Technology (OMSCAT)</ion-label>
          <img height="45px" width="42x" src="/assets/ori2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/oriental-m2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Divine Word College of Calapan</ion-label>
            <img height="45px" width="42x" src="/assets/ori3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/oriental-m3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
    
  
                        <ion-button routerLink="/region4b" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>



