<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sorsogon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ss13.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sorsogon College of Criminology</ion-card-title>
      <ion-card-subtitle>SCC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ss13.jpg">
    <ion-card-content>
      A private college specializing in criminology programs.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/sorsogon" fill="clear" shape="default" expand="full">BACK</ion-button>
