<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>page48</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/rtum.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rizal Technological University - Mandaluyong Campus</ion-card-title>
      <ion-card-subtitle>RTU - MC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/rtum.jpg">
    <ion-card-content>
      A branch of Rizal Technological University offering various academic programs in Mandaluyong City.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/page47" fill="clear" shape="default" expand="full">BACK</ion-button>
