<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>negros oriental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nopiptin.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colegio de Sta. Catalina de Alejandria</ion-card-title>
      <ion-card-subtitle>COSCA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nopiptin.jpg">
    <ion-card-content>
      COSCA is a private educational institution in Dumaguete City. It provides primary, secondary, and tertiary education with a commitment to academic excellence and character formation.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/negros-ov" fill="clear" shape="default" expand="full">BACK</ion-button>