<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agusan del sur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Philippine Global College of Technology</ion-card-title>
      <ion-card-subtitle>PGCT</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      Established in 2015, offering undergraduate programs in various fields, including information technology, business administration, and criminology. Located in Bayugan City, Agusan del Sur, focusing on developing skills for the current job market.

    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/agusan-delsur" fill="outline" shape="round">BACK</ion-button>