<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zambales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/zbl16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>STI College - Olongapo</ion-card-title>
      <ion-card-subtitle>STI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/zbl16.jpg">
    <ion-card-content>
      STI College in Olongapo City provides academic programs with a focus on information technology and business.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/zambales" fill="clear" shape="default" expand="full">BACK</ion-button>
