<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>isabela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/nvsu.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nueva Vizcaya State University - Bayombong Campus - Bayombong, Nueva Vizcaya</ion-card-title>
      <ion-card-subtitle>NVSU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/nvsu.jpg">
    <ion-card-content>
      NVSU's Bayombong Campus is located in Nueva Vizcaya but has an influence on Isabela as well, offering programs in agriculture and forestry. 
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/isabela" fill="clear" shape="default" expand="full">BACK</ion-button>
