<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>leyte</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/le11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Leyte Normal University</ion-card-title>
      <ion-card-subtitle>LNU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/le11.jpg">
    <ion-card-content>
      Offers undergraduate and graduate programs in various fields, including teacher education, liberal arts, and sciences. Known for its strong academic programs and commitment to quality education.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/leyte" fill="clear" shape="default" expand="full">BACK</ion-button>