<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sarangani</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>STI College Alabel</ion-card-title>
      <ion-card-subtitle>STI</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/.jpg">
    <ion-card-content>
      -Offers undergraduate programs in various fields
      -Located in Alabel, Sarangani
    </ion-card-content>
  </ion-card>

  <ion-button padding-left="20px" class="upbutton" routerLink="/sarangani" fill="outline" shape="round">BACK</ion-button>