<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lag11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of the Philippines Los Baños</ion-card-title>
      <ion-card-subtitle>UPLB</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lag11.jpg">
    <ion-card-content>
      UPLB is a constituent university of the University of the Philippines System, known for its excellence in agriculture, forestry, and related fields.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/laguna" fill="clear" shape="default" expand="full">BACK</ion-button>
