<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>siquijor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/sq12.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Siquijor Provincial Hospital School of Health Sciences</ion-card-title>
      <ion-card-subtitle>SPH</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/sq12.jpg">
    <ion-card-content>
      This institution may offer health sciences education and training
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/siquirjor" fill="clear" shape="default" expand="full">BACK</ion-button>