<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>north cotabato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/cot17.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Xavier University - Ateneo de Cagayan</ion-card-title>
      <ion-card-subtitle>XU</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/cot17.jpg">
    <ion-card-content>
      A private Catholic university in Cagayan de Oro City, emphasizing academic excellence, research, and community service.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/n-cotabato" fill="clear" shape="default" expand="full">BACK</ion-button>