<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agusan del norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/ad11.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agusan del Norte State College</ion-card-title>
      <ion-card-subtitle>ADSC</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/ad11.jpg">
    <ion-card-content>
      -Established in 1972
  -Offers undergraduate and graduate programs in various fields
   -Has campuses in Butuan City, Cabadbaran City, and Tubay
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/agusan-delnorte" fill="clear" shape="default" expand="full">BACK</ion-button>