<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/region5" size="large" ></ion-icon> 
    <ion-title class="title">CATANDUANES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/r5.4.jpg">
      <ion-header class="luzon">CATANDUANES</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>
 
  
      <ion-item>
        <ion-label class="uname">Catanduanes State University (CSU)</ion-label>
        <img height="45px" width="42x" src="/assets/ct1.jpg">
      </ion-item>
      
      <ion-item-options side="end">
        
        <ion-item-option color="success" routerLink="/catanduanes1">VIEW </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    
    <ion-list inset>
      <ion-item-sliding>
 
    
        <ion-item>
          <ion-label class="uname">Catanduanes National High School (CNHS)</ion-label>
          <img height="45px" width="42x" src="/assets/ct2.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/catanduanes2">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>
 
      
          <ion-item>
            <ion-label class="uname">Catanduanes Colleges</ion-label>
            <img height="45px" width="42x" src="/assets/ct3.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/catanduanes3">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>
 
        
            <ion-item>
              <ion-label class="uname">Catanduanes Institute of Technology Foundation, Inc. (CITFI)</ion-label>
              <img height="45px" width="42x" src="/assets/ct4.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/catanduanes4">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
      

                        <ion-button routerLink="/region5" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>



