<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" routerLink="/page3" size="large" ></ion-icon> 
    <ion-title class="title">MALABON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card class="card">
        <img class="btn-img" src="assets/ncr3.jpg">
      <ion-header class="luzon">MALABON</ion-header>
      </ion-card>
    </ion-toolbar>
  </ion-header>
  <ion-list inset>
    <ion-item-sliding>

  
      <ion-item>
        <ion-label class="uname">City of Malabon University</ion-label>
        <img height="45px" width="42x" src="/assets/cmulogo.jpg">
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" routerLink="/page37">VIEW</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    
    <ion-list inset>
      <ion-item-sliding>

    
        <ion-item>
          <ion-label class="uname">Datamex Institute of Computer Technology - Malabon Branch</ion-label>
          <img height="45px" width="42x" src="/assets/dictlogo.jpg">
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option color="success" routerLink="/page38">VIEW</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
      <ion-list inset>
        <ion-item-sliding>

      
          <ion-item>
            <ion-label class="uname">STI College - Malabon</ion-label>
            <img height="45px" width="42x" src="/assets/stimlogo.jpg">
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="success" routerLink="/page39">VIEW</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
  
        <ion-list inset>
          <ion-item-sliding>

        
            <ion-item>
              <ion-label class="uname">Arellano University - Malabon Campus</ion-label>
              <img height="45px" width="42x" src="/assets/aumlogo.jpg">
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option color="success" routerLink="/page40">VIEW</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
  
          <ion-list inset>
            <ion-item-sliding>

          
              <ion-item>
                <ion-label class="uname">Mariners' Polytechnic Colleges Foundation - Malabon</ion-label>
                <img height="45px" width="42x" src="/assets/mpcfmlogo.jpg">
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="success" routerLink="/page41">VIEW</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            </ion-list>
  
            <ion-list inset>
              <ion-item-sliding>

            
                <ion-item>
                  <ion-label class="uname">La Consolacion College - Caloocan</ion-label>
                  <img height="45px" width="42x" src="/assets/lcclogo.jpg">
                </ion-item>
            
                <ion-item-options side="end">
                  <ion-item-option color="success" routerLink="/page42">VIEW</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              </ion-list>
  
              <ion-list inset>
                <ion-item-sliding>

              
                  <ion-item>
                    <ion-label class="uname">Pamantasan ng Lungsod ng Valenzuela</ion-label>
                    <img height="45px" width="42x" src="/assets/plvlogo.jpg">
                  </ion-item>
              
                  <ion-item-options side="end">
                    <ion-item-option color="success" routerLink="/page43">VIEW</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                </ion-list>
  
                <ion-list inset>
                  <ion-item-sliding>

                
                    <ion-item>
                      <ion-label class="uname">Technological Institute of the Philippines - Quezon City (Valenzuela Extension)</ion-label>
                      <img height="45px" width="42x" src="/assets/tipqclogo.jpg">
                    </ion-item>
                
                    <ion-item-options side="end">
                      <ion-item-option color="success" routerLink="/page44">VIEW</ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  </ion-list>
  
                  <ion-list inset>
                    <ion-item-sliding>

                  
                      <ion-item>
                        <ion-label class="uname">De La Salle Araneta University</ion-label>
                        <img height="45px" width="42x" src="/assets/dlsaulogo.jpg">
                      </ion-item>
                  
                      <ion-item-options side="end">
                        <ion-item-option color="success" routerLink="/page45">VIEW</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>

                    <ion-list inset>
                      <ion-item-sliding>

                    
                        <ion-item>
                          <ion-label class="uname">Philippine Women's University - CDCEC Malabon</ion-label>
                          <img height="45px" width="42x" src="/assets/pwulogo.jpg">
                        </ion-item>
                    
                        <ion-item-options side="end">
                          <ion-item-option color="success" routerLink="/page46">VIEW</ion-item-option>
                        </ion-item-options>
                      </ion-item-sliding>
                      </ion-list>
  
  
                        <ion-button routerLink="/page3" fill="outline" shape="round" expand="full">BACK</ion-button>
  
  
</ion-content>
