<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marikina7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/mcs.jpg">
  <ion-header collapse="condense">
  <ion-card> 
    <ion-card-header>
      <ion-card-title>Marikina Catholic School</ion-card-title>
      <ion-card-subtitle>MCS</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/mcs.jpg">
    <ion-card-content>
      A Catholic school in Marikina that provides quality education with a focus on academic excellence and character formation.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/marikina" fill="clear" shape="default" expand="full">BACK</ion-button>
