<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <img class="btn-img" src="/assets/lag16.jpg">
  <ion-header collapse="condense">
  <ion-card>
    <ion-card-header>
      <ion-card-title>University of Perpetual Help System DALTA - Calamba Campus</ion-card-title>
      <ion-card-subtitle>UPHSDALTA</ion-card-subtitle>
    </ion-card-header>
    <img class="upmanila" height="100px" width="290px" src="/assets/lag16.jpg">
    <ion-card-content>
      The Calamba Campus of the University of Perpetual Help System DALTA offers academic programs with a focus on health sciences and business.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" routerLink="/laguna" fill="clear" shape="default" expand="full">BACK</ion-button>
